# Unsupervised learning-movie recommender

## Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.decomposition import NMF

# Project goal

In this project, you will build a proof of concept: A web application that showcases different movie recommendation algorithms.

1. Download a small version of the MovieLens-dataset


**2. Implement a baseline recommender**


3. Derive a user-item matrix


4. Pick and implement a Collaborative Filtering recommender:

    a) Collaborative Filtering with Matrix Factorization
    
    b) Neighbourhood based Collaborative Filtering
    
    
5. Write a flask web interface


6. Connect your recommender-model to flask

# Import data

Import all 4 csv files of the *ml-latest-small.zip* dataset.

In [3]:
ratings = pd.read_csv("ratings.csv")

In [4]:
movies = pd.read_csv("movies.csv")

In [5]:
tags = pd.read_csv("tags.csv")

In [6]:
links = pd.read_csv("links.csv")

Inspect the tables.

In [7]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratings.shape

(100836, 4)

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
movies.shape

(9742, 3)

In [11]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [12]:
tags.shape

(3683, 4)

In [13]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [14]:
links.shape

(9742, 3)

# Merge tables

Merge ratings and movies.

In [15]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [16]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [17]:
movies["movieId"].nunique()

9742

In [18]:
df = pd.merge(movies, ratings, on = "movieId", how = "right")

In [19]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247
2,6,Heat (1995),Action|Crime|Thriller,1,4.0,964982224
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,5.0,964983815
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,5.0,964982931

In [20]:
df.shape

(100836, 6)

Drop genres and timestamp columns.

In [21]:
df = df.drop(columns = ["genres", "timestamp"])

In [22]:
df

        movieId                           title  userId  rating
0             1                Toy Story (1995)       1     4.0
1             3         Grumpier Old Men (1995)       1     4.0
2             6                     Heat (1995)       1     4.0
3            47     Seven (a.k.a. Se7en) (1995)       1     5.0
4            50      Usual Suspects, The (1995)       1     5.0
...         ...                             ...     ...     ...
100831   166534                    Split (2017)     610     4.0
100832   168248   John Wick: Chapter Two (2017)     610     5.0
100833   168250                  Get Out (2017)     610     5.0
100834   168252                    Logan (2017)     610     5.0
100835   170875  The Fate of the Furious (2017)     610     3.0

[100836 rows x 4 columns]

In [23]:
df.isna().sum()

movieId    0
title      0
userId     0
rating     0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  100836 non-null  int64
 1   title    100836 non-null  object
 2   userId   100836 non-null  int64
 3   rating   100836 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.8+ MB

# Calculate the average rating for each movie in the dataset

In [25]:
df.groupby(["title"])["rating"].mean().sort_values(ascending = False)

title
Gena the Crocodile (1969)                  5.0
True Stories (1986)                        5.0
Cosmic Scrat-tastrophe (2015)              5.0
Love and Pigeons (1985)                    5.0
Red Sorghum (Hong gao liang) (1987)        5.0
                                          ...
Don't Look Now (1973)                      0.5
Journey 2: The Mysterious Island (2012)    0.5
Joe Dirt 2: Beautiful Loser (2015)         0.5
Jesus Christ Vampire Hunter (2001)         0.5
Fullmetal Alchemist 2018 (2017)            0.5
Name: rating, Length: 9719, dtype: float64

# Filter out movies that have been watched by less than 20 users

In [26]:
df["reviews"] = df.groupby(["title"])["rating"].transform("count")

In [27]:
df.head()

   movieId                        title  userId  rating  reviews
0        1             Toy Story (1995)       1     4.0      215
1        3      Grumpier Old Men (1995)       1     4.0       52
2        6                  Heat (1995)       1     4.0      102
3       47  Seven (a.k.a. Se7en) (1995)       1     5.0      203
4       50   Usual Suspects, The (1995)       1     5.0      204

In [28]:
df.shape

(100836, 5)

In [29]:
df = df[df["reviews"] > 20][["userId", "title", "movieId", "rating"]]

In [30]:
df.head()

   userId                        title  movieId  rating
0       1             Toy Story (1995)        1     4.0
1       1      Grumpier Old Men (1995)        3     4.0
2       1                  Heat (1995)        6     4.0
3       1  Seven (a.k.a. Se7en) (1995)       47     5.0
4       1   Usual Suspects, The (1995)       50     5.0

In [31]:
df.shape

(66661, 4)

# Extract film, movieId, rating lists

In [32]:
df = df.sort_values(by = ["movieId"], ascending = True)

In [33]:
df.head()

       userId             title  movieId  rating
0           1  Toy Story (1995)        1     4.0
61023     396  Toy Story (1995)        1     5.0
22638     155  Toy Story (1995)        1     3.0
22684     156  Toy Story (1995)        1     4.0
60405     391  Toy Story (1995)        1     3.0

In [34]:
df.shape

(66661, 4)

Films.

In [35]:
films = df["title"].unique().tolist()

In [36]:
films

['Toy Story (1995)',
 'Jumanji (1995)',
 'Grumpier Old Men (1995)',
 'Father of the Bride Part II (1995)',
 'Heat (1995)',
 'Sabrina (1995)',
 'GoldenEye (1995)',
 'American President, The (1995)',
 'Casino (1995)',
 'Sense and Sensibility (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Get Shorty (1995)',
 'Copycat (1995)',
 'Powder (1995)',
 'Leaving Las Vegas (1995)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Dangerous Minds (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Babe (1995)',
 'Dead Man Walking (1995)',
 'Clueless (1995)',
 'Mortal Kombat (1995)',
 'To Die For (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Pocahontas (1995)',
 'Usual Suspects, The (1995)',
 'Mighty Aphrodite (1995)',
 'Postman, The (Postino, Il) (1994)',
 'Indian in the Cupboard, The (1995)',
 "Mr. Holland's Opus (1995)",
 'Bio-Dome (1996)',
 'From Dusk Till Dawn (1996)',
 'Broken Arrow (1996)',
 'Bottle Rocket (1996)',
 'Happy Gilmore (1996)',
 'Bridges of Madison County, The (1995)',
 'Muppet Treasure Island (1996)',
 'Braveheart (1995)',
 'Taxi Driver (1976)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Down Periscope (1996)',
 'Birdcage, The (1996)',
 'Bad Boys (1995)',
 'Apollo 13 (1995)',
 'Rob Roy (1995)',
 'Batman Forever (1995)',
 'Casper (1995)',
 'Congo (1995)',
 'Crimson Tide (1995)',
 'Desperado (1995)',
 'Die Hard: With a Vengeance (1995)',
 'First Knight (1995)',
 'Hackers (1995)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Mallrats (1995)',
 'Net, The (1995)',
 'Nine Months (1995)',
 'Showgirls (1995)',
 'Species (1995)',
 'Strange Days (1995)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Under Siege 2: Dark Territory (1995)',
 'Walk in the Clouds, A (1995)',
 'Waterworld (1995)',
 'Before Sunrise (1995)',
 'Billy Madison (1995)',
 'Clerks (1994)',
 'Don Juan DeMarco (1995)',
 'Disclosure (1994)',
 'Drop Zone (1994)',
 'Dolores Claiborne (1995)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Ed Wood (1994)',
 'French Kiss (1995)',
 'Forget Paris (1995)',
 'Hoop Dreams (1994)',
 'Heavenly Creatures (1994)',
 'I.Q. (1994)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Junior (1994)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Little Women (1994)',
 'Little Princess, A (1995)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Legends of the Fall (1994)',
 'Madness of King George, The (1994)',
 "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 'Milk Money (1994)',
 'Miracle on 34th Street (1994)',
 'Nell (1994)',
 'Natural Born Killers (1994)',
 'Outbreak (1995)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Pulp Fiction (1994)',
 'Quiz Show (1994)',
 'Quick and the Dead, The (1995)',
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 'Specialist, The (1994)',
 'Stargate (1994)',
 'Santa Clause, The (1994)',
 'Shawshank Redemption, The (1994)',
 'Tank Girl (1995)',
 'Star Trek: Generations (1994)',
 'Tommy Boy (1995)',
 "What's Eating Gilbert Grape (1993)",
 'While You Were Sleeping (1995)',
 "Muriel's Wedding (1994)",
 'Ace Ventura: Pet Detective (1994)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Bullets Over Broadway (1994)',
 'Clear and Present Danger (1994)',
 'Client, The (1994)',
 'Crow, The (1994)',
 'Flintstones, The (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Jungle Book, The (1994)',
 'Lion King, The (1994)',
 'Mask, The (1994)',
 'Maverick (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Paper, The (1994)',
 'Reality Bites (1994)',
 'Richie Rich (1994)',
 'River Wild, The (1994)',
 'Speed (1994)',
 'Timecop (1994)',
 'True Lies (1994)',
 'Wyatt Earp (1994)',
 'Addams Family Values (1993)',
 'Airheads (1994)',
 'Beverly Hills Cop III (1994)',
 "Carlito's Way (1993)",
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Cliffhanger (1993)',
 'Coneheads (1993)',
 'Dave (1993)',
 'Dazed and Confused (1993)',
 'Demolition Man (1993)',
 'Firm, The (1993)',
 'Free Willy (1993)',
 'Fugitive, The (1993)',
 'Hot Shots! Part Deux (1993)',
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 'Hudsucker Proxy, The (1994)',
 'In the Line of Fire (1993)',
 'In the Name of the Father (1993)',
 'Jurassic Park (1993)',
 'Last Action Hero (1993)',
 'Executive Decision (1996)',
 'Much Ado About Nothing (1993)',
 'Mrs. Doubtfire (1993)',
 'Philadelphia (1993)',
 'Piano, The (1993)',
 'Remains of the Day, The (1993)',
 'RoboCop 3 (1993)',
 'Robin Hood: Men in Tights (1993)',
 'Rudy (1993)',
 "Schindler's List (1993)",
 'Searching for Bobby Fischer (1993)',
 'Secret Garden, The (1993)',
 'Sleepless in Seattle (1993)',
 'Blade Runner (1982)',
 'So I Married an Axe Murderer (1993)',
 'Super Mario Bros. (1993)',
 'Nightmare Before Christmas, The (1993)',
 'Three Musketeers, The (1993)',
 'Tombstone (1993)',
 'True Romance (1993)',
 'Welcome to the Dollhouse (1995)',
 'Brady Bunch Movie, The (1995)',
 'Home Alone (1990)',
 'Ghost (1990)',
 'Aladdin (1992)',
 'Terminator 2: Judgment Day (1991)',
 'Dances with Wolves (1990)',
 'Batman (1989)',
 'Silence of the Lambs, The (1991)',
 'Snow White and the Seven Dwarfs (1937)',
 'Beauty and the Beast (1991)',
 'Pinocchio (1940)',
 'Pretty Woman (1990)',
 'Fargo (1996)',
 'Heavy Metal (1981)',
 'Aristocats, The (1970)',
 'Primal Fear (1996)',
 'Sgt. Bilko (1996)',
 'Courage Under Fire (1996)',
 'Mission: Impossible (1996)',
 'Dragonheart (1996)',
 'James and the Giant Peach (1996)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Space Jam (1996)',
 'Mulholland Falls (1996)',
 'Truth About Cats & Dogs, The (1996)',
 'Multiplicity (1996)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Craft, The (1996)',
 'Rock, The (1996)',
 'Twister (1996)',
 'Ghost in the Shell (Kôkaku kidôtai) (1995)',
 'Spy Hard (1996)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Arrival, The (1996)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Striptease (1996)',
 'Trainspotting (1996)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Hunchback of Notre Dame, The (1996)',
 'Cable Guy, The (1996)',
 'Kingpin (1996)',
 'Eraser (1996)',
 'Nutty Professor, The (1996)',
 'Frighteners, The (1996)',
 'Phenomenon (1996)',
 'Time to Kill, A (1996)',
 'First Wives Club, The (1996)',
 'Ransom (1996)',
 'Matilda (1996)',
 'Emma (1996)',
 'Escape from L.A. (1996)',
 'Tin Cup (1996)',
 'Godfather, The (1972)',
 'Bound (1996)',
 'Island of Dr. Moreau, The (1996)',
 'Philadelphia Story, The (1940)',
 "Singin' in the Rain (1952)",
 "Breakfast at Tiffany's (1961)",
 'Vertigo (1958)',
 'Rear Window (1954)',
 'North by Northwest (1959)',
 'Apartment, The (1960)',
 'Some Like It Hot (1959)',
 'Casablanca (1942)',
 'Maltese Falcon, The (1941)',
 'My Fair Lady (1964)',
 'Sabrina (1954)',
 'Roman Holiday (1953)',
 'Wizard of Oz, The (1939)',
 'Gone with the Wind (1939)',
 'Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)',
 'Citizen Kane (1941)',
 '2001: A Space Odyssey (1968)',
 'All About Eve (1950)',
 'To Catch a Thief (1955)',
 "It's a Wonderful Life (1946)",
 'Night of the Living Dead (1968)',
 'African Queen, The (1951)',
 'Cool Runnings (1993)',
 'Angels in the Outfield (1994)',
 'Cinderella (1950)',
 'Sword in the Stone, The (1963)',
 'Robin Hood: Prince of Thieves (1991)',
 'Mary Poppins (1964)',
 'Dumbo (1941)',
 'Bedknobs and Broomsticks (1971)',
 'Alice in Wonderland (1951)',
 'Sound of Music, The (1965)',
 'Die Hard (1988)',
 'Lawnmower Man, The (1992)',
 'That Thing You Do! (1996)',
 'Long Kiss Goodnight, The (1996)',
 'Ghost and the Darkness, The (1996)',
 "William Shakespeare's Romeo + Juliet (1996)",
 'Swingers (1996)',
 'Sleepers (1996)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Sleeper (1973)',
 'Fish Called Wanda, A (1988)',
 "Monty Python's Life of Brian (1979)",
 'Bonnie and Clyde (1967)',
 'Dial M for Murder (1954)',
 'Dirty Dancing (1987)',
 'Reservoir Dogs (1992)',
 'Platoon (1986)',
 "Weekend at Bernie's (1989)",
 'Basic Instinct (1992)',
 'Doors, The (1991)',
 'Crying Game, The (1992)',
 'E.T. the Extra-Terrestrial (1982)',
 'Top Gun (1986)',
 'People vs. Larry Flynt, The (1996)',
 'Return of the Pink Panther, The (1975)',
 'Abyss, The (1989)',
 'Escape from New York (1981)',
 'Monty Python and the Holy Grail (1975)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)',
 'Delicatessen (1991)',
 'Grifters, The (1990)',
 'English Patient, The (1996)',
 'Sex, Lies, and Videotape (1989)',
 'Strictly Ballroom (1992)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Princess Bride, The (1987)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Brazil (1985)',
 'Aliens (1986)',
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 '12 Angry Men (1957)',
 'Lawrence of Arabia (1962)',
 'Clockwork Orange, A (1971)',
 'To Kill a Mockingbird (1962)',
 'Apocalypse Now (1979)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Third Man, The (1949)',
 'Goodfellas (1990)',
 'Alien (1979)',
 'Army of Darkness (1993)',
 'Psycho (1960)',
 'Blues Brothers, The (1980)',
 'Godfather: Part II, The (1974)',
 'Full Metal Jacket (1987)',
 'Grand Day Out with Wallace and Gromit, A (1989)',
 'Amadeus (1984)',
 'Raging Bull (1980)',
 'Annie Hall (1977)',
 'Right Stuff, The (1983)',
 'Boot, Das (Boat, The) (1981)',
 'Sting, The (1973)',
 'Harold and Maude (1971)',
 'Terminator, The (1984)',
 'Glory (1989)',
 'Manhattan (1979)',
 'Dead Poets Society (1989)',
 'Graduate, The (1967)',
 'Femme Nikita, La (Nikita) (1990)',
 'Bridge on the River Kwai, The (1957)',
 'Chinatown (1974)',
 'Day the Earth Stood Still, The (1951)',
 'Duck Soup (1933)',
 'Better Off Dead... (1985)',
 'Shining, The (1980)',
 'Stand by Me (1986)',
 'Evil Dead II (Dead by Dawn) (1987)',
 'Great Escape, The (1963)',
 'Deer Hunter, The (1978)',
 'Groundhog Day (1993)',
 'Unforgiven (1992)',
 'Manchurian Candidate, The (1962)',
 'Arsenic and Old Lace (1944)',
 'Back to the Future (1985)',
 'Fried Green Tomatoes (1991)',
 'Patton (1970)',
 'Akira (1988)',
 'Highlander (1986)',
 'Cool Hand Luke (1967)',
 'Young Frankenstein (1974)',
 'Fantasia (1940)',
 'Heathers (1989)',
 'Ben-Hur (1959)',
 'This Is Spinal Tap (1984)',
 'Indiana Jones and the Last Crusade (1989)',
 'Gandhi (1982)',
 'Pink Floyd: The Wall (1982)',
 'Killing Fields, The (1984)',
 'Field of Dreams (1989)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'When Harry Met Sally... (1989)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'American Werewolf in London, An (1981)',
 'Birds, The (1963)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Cape Fear (1991)',
 'Carrie (1976)',
 'Nightmare on Elm Street, A (1984)',
 'Omen, The (1976)',
 'Star Trek: First Contact (1996)',
 'Shine (1996)',
 'Sling Blade (1996)',
 '101 Dalmatians (1996)',
 'Die Hard 2 (1990)',
 'Star Trek: The Motion Picture (1979)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Star Trek V: The Final Frontier (1989)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek IV: The Voyage Home (1986)',
 'Batman Returns (1992)',
 'Young Guns (1988)',
 'Grease (1978)',
 'Under Siege (1992)',
 'Jaws (1975)',
 'Mars Attacks! (1996)',
 'Jerry Maguire (1996)',
 'Raising Arizona (1987)',
 'Sneakers (1992)',
 'Beavis and Butt-Head Do America (1996)',
 'Scream (1996)',
 'Last of the Mohicans, The (1992)',
 'Michael (1996)',
 "Dante's Peak (1997)",
 'Waiting for Guffman (1996)',
 'Donnie Brasco (1997)',
 'Private Parts (1997)',
 'Saint, The (1997)',
 'Liar Liar (1997)',
 'Anaconda (1997)',
 'Grosse Pointe Blank (1997)',
 "Romy and Michele's High School Reunion (1997)",
 'Austin Powers: International Man of Mystery (1997)',
 'Fifth Element, The (1997)',
 'Lost World: Jurassic Park, The (1997)',
 'Con Air (1997)',
 'Batman & Robin (1997)',
 'Hercules (1997)',
 "My Best Friend's Wedding (1997)",
 'Face/Off (1997)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Contact (1997)',
 'G.I. Jane (1997)',
 'Conan the Barbarian (1982)',
 'Event Horizon (1997)',
 'Spawn (1997)',
 'Conspiracy Theory (1997)',
 'Air Force One (1997)',
 'Hunt for Red October, The (1990)',
 'In & Out (1997)',
 'L.A. Confidential (1997)',
 'Game, The (1997)',
 'Chasing Amy (1997)',
 'Full Monty, The (1997)',
 'I Know What You Did Last Summer (1997)',
 "The Devil's Advocate (1997)",
 'Gattaca (1997)',
 'Stripes (1981)',
 'Boogie Nights (1997)',
 'Witness (1985)',
 'Starship Troopers (1997)',
 'Sliding Doors (1998)',
 'Truman Show, The (1998)',
 'Alien: Resurrection (1997)',
 'Good Will Hunting (1997)',
 'Midnight in the Garden of Good and Evil (1997)',
 'Scream 2 (1997)',
 'Titanic (1997)',
 'Tomorrow Never Dies (1997)',
 'Jackie Brown (1997)',
 'Big Lebowski, The (1998)',
 'Wag the Dog (1997)',
 'Dark City (1998)',
 'Wedding Singer, The (1998)',
 'Sphere (1998)',
 'As Good as It Gets (1997)',
 'U.S. Marshals (1998)',
 'Man in the Iron Mask, The (1998)',
 'Wild Things (1998)',
 'Lost in Space (1998)',
 'Deep Impact (1998)',
 'Godzilla (1998)',
 'Bulworth (1998)',
 'Fear and Loathing in Las Vegas (1998)',
 'Mulan (1998)',
 'X-Files: Fight the Future, The (1998)',
 'Dr. Dolittle (1998)',
 'Out of Sight (1998)',
 'Armageddon (1998)',
 'Lethal Weapon 4 (1998)',
 'Pi (1998)',
 "There's Something About Mary (1998)",
 'On the Waterfront (1954)',
 'West Side Story (1961)',
 'Midnight Cowboy (1969)',
 'French Connection, The (1971)',
 'Rocky (1976)',
 'Terms of Endearment (1983)',
 'Last Emperor, The (1987)',
 'Rain Man (1988)',
 'Driving Miss Daisy (1989)',
 'Repo Man (1984)',
 'Labyrinth (1986)',
 'Breakfast Club, The (1985)',
 'Halloween (1978)',
 'Poltergeist (1982)',
 'Exorcist, The (1973)',
 'Lethal Weapon (1987)',
 'Lethal Weapon 2 (1989)',
 'Lethal Weapon 3 (1992)',
 'Gremlins (1984)',
 'Goonies, The (1985)',
 'Mask of Zorro, The (1998)',
 'Metropolis (1927)',
 'Back to the Future Part II (1989)',
 'Back to the Future Part III (1990)',
 'Poseidon Adventure, The (1972)',
 'Bambi (1942)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Dangerous Liaisons (1988)',
 'Dune (1984)',
 'Godfather: Part III, The (1990)',
 'Saving Private Ryan (1998)',
 'Flight of the Navigator (1986)',
 'Hocus Pocus (1993)',
 'Honey, I Shrunk the Kids (1989)',
 'Negotiator, The (1998)',
 'Roger & Me (1989)',
 'Doctor Zhivago (1965)',
 'Blue Velvet (1986)',
 'Jungle Book, The (1967)',
 'Lady and the Tramp (1955)',
 'Little Mermaid, The (1989)',
 'Mighty Ducks, The (1992)',
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
 'Peter Pan (1953)',
 'Rocketeer, The (1991)',
 'Sleeping Beauty (1959)',
 'Splash (1984)',
 'Tron (1982)',
 'L.A. Story (1991)',
 'Jerk, The (1979)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Addams Family, The (1991)',
 'Ever After: A Cinderella Story (1998)',
 'Weird Science (1985)',
 "Charlotte's Web (1973)",
 'Secret of NIMH, The (1982)',
 'Dark Crystal, The (1982)',
 'Sixteen Candles (1984)',
 'Pretty in Pink (1986)',
 'Gods Must Be Crazy, The (1980)',
 "Rosemary's Baby (1968)",
 'NeverEnding Story, The (1984)',
 'Blade (1998)',
 'Beetlejuice (1988)',
 'Strangers on a Train (1951)',
 'Willow (1988)',
 'Untouchables, The (1987)',
 'Rounders (1998)',
 'Cube (1997)',
 'Broadcast News (1987)',
 'Working Girl (1988)',
 'Say Anything... (1989)',
 'Few Good Men, A (1992)',
 'Rush Hour (1998)',
 'Ronin (1998)',
 'Thing, The (1982)',
 'Player, The (1992)',
 'Edward Scissorhands (1990)',
 'Antz (1998)',
 'Producers, The (1968)',
 'My Cousin Vinny (1992)',
 'Pleasantville (1998)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'American History X (1998)',
 'Waterboy, The (1998)',
 'Elizabeth (1998)',
 'Big Chill, The (1983)',
 'Enemy of the State (1998)',
 "Bug's Life, A (1998)",
 'Waking Ned Devine (a.k.a. Waking Ned) (1998)',
 'King Kong (1933)',
 'Desperately Seeking Susan (1985)',
 'Fletch (1985)',
 'Money Pit, The (1986)',
 'View to a Kill, A (1985)',
 'Police Academy (1984)',
 'Babe: Pig in the City (1998)',
 'Simple Plan, A (1998)',
 'Star Trek: Insurrection (1998)',
 'Prince of Egypt, The (1998)',
 'Rushmore (1998)',
 'Shakespeare in Love (1998)',
 'First Blood (Rambo: First Blood) (1982)',
 'Jewel of the Nile, The (1985)',
 'Romancing the Stone (1984)',
 'Cocoon (1985)',
 'Rocky II (1979)',
 'Rocky III (1982)',
 'Rocky IV (1985)',
 'Karate Kid, The (1984)',
 'Karate Kid, Part II, The (1986)',
 "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)",
 "You've Got Mail (1998)",
 'Thin Red Line, The (1998)',
 'Faculty, The (1998)',
 'Patch Adams (1998)',
 'Fly, The (1986)',
 'Crocodile Dundee (1986)',
 'Crocodile Dundee II (1988)',
 '¡Three Amigos! (1986)',
 "She's All That (1999)",
 'Payback (1999)',
 'Blast from the Past (1999)',
 'October Sky (1999)',
 'Office Space (1999)',
 "Logan's Run (1976)",
 'Planet of the Apes (1968)',
 'Analyze This (1999)',
 'Cruel Intentions (1999)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Matrix, The (1999)',
 '10 Things I Hate About You (1999)',
 'Go (1999)',
 'Never Been Kissed (1999)',
 'Pushing Tin (1999)',
 'Election (1999)',
 'eXistenZ (1999)',
 'Entrapment (1999)',
 'Dick Tracy (1990)',
 'Mummy, The (1999)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Superman (1978)',
 'Superman II (1980)',
 'Superman III (1983)',
 'Rocky Horror Picture Show, The (1975)',
 'Notting Hill (1999)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Tarzan (1999)',
 'Run Lola Run (Lola rennt) (1998)',
 'Big Daddy (1999)',
 'Arachnophobia (1990)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Wild Wild West (1999)',
 'American Pie (1999)',
 'Arlington Road (1999)',
 'Blair Witch Project, The (1999)',
 'Eyes Wide Shut (1999)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Ghostbusters II (1989)',
 'Inspector Gadget (1999)',
 'Deep Blue Sea (1999)',
 'Mystery Men (1999)',
 'Runaway Bride (1999)',
 'Little Shop of Horrors (1986)',
 'Iron Giant, The (1999)',
 'Sixth Sense, The (1999)',
 'Thomas Crown Affair, The (1999)',
 'Bowfinger (1999)',
 "Monty Python's And Now for Something Completely Different (1971)",
 'Airplane! (1980)',
 "National Lampoon's Vacation (1983)",
 'Big (1988)',
 'Christmas Story, A (1983)',
 'Mickey Blue Eyes (1999)',
 '13th Warrior, The (1999)',
 'Stigmata (1999)',
 'American Beauty (1999)',
 'Deliverance (1972)',
 'Excalibur (1981)',
 'Three Kings (1999)',
 "Boys Don't Cry (1999)",
 'Risky Business (1983)',
 'Total Recall (1990)',
 "Ferris Bueller's Day Off (1986)",
 'Dirty Dozen, The (1967)',
 'Goldfinger (1964)',
 'From Russia with Love (1963)',
 'Dr. No (1962)',
 'Fistful of Dollars, A (Per un pugno di dollari) (1964)',
 'Home Alone 2: Lost in New York (1992)',
 'Fight Club (1999)',
 'Time Bandits (1981)',
 'RoboCop (1987)',
 'RoboCop 2 (1990)',
 'Who Framed Roger Rabbit? (1988)',
 'For Your Eyes Only (1981)',
 'Live and Let Die (1973)',
 'Thunderball (1965)',
 'Being John Malkovich (1999)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Bone Collector, The (1999)',
 'Insider, The (1999)',
 'Spaceballs (1987)',
 'Robin Hood (1973)',
 'Little Big Man (1970)',
 'Trading Places (1983)',
 'Dogma (1999)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'Moonstruck (1987)',
 'Sleepy Hollow (1999)',
 'World Is Not Enough, The (1999)',
 'Scrooged (1988)',
 'Natural, The (1984)',
 'River Runs Through It, A (1992)',
 'Fatal Attraction (1987)',
 'Midnight Run (1988)',
 'Awakenings (1990)',
 'Backdraft (1991)',
 'Fisher King, The (1991)',
 'Toy Story 2 (1999)',
 'Green Mile, The (1999)',
 'Cider House Rules, The (1999)',
 'Magnolia (1999)',
 'Easy Rider (1969)',
 'Man on the Moon (1999)',
 'Galaxy Quest (1999)',
 'Talented Mr. Ripley, The (1999)',
 'Girl, Interrupted (1999)',
 'Fast Times at Ridgemont High (1982)',
 'Sister Act (1992)',
 'Scent of a Woman (1992)',
 "Wayne's World (1992)",
 "Wayne's World 2 (1993)",

MovieIds.

In [37]:
movieIds = df["movieId"].unique().tolist()

In [38]:
movieIds

[1,
 2,
 3,
 5,
 6,
 7,
 10,
 11,
 16,
 17,
 19,
 21,
 22,
 24,
 25,
 29,
 31,
 32,
 34,
 36,
 39,
 44,
 45,
 47,
 48,
 50,
 52,
 58,
 60,
 62,
 65,
 70,
 95,
 101,
 104,
 105,
 107,
 110,
 111,
 112,
 135,
 141,
 145,
 150,
 151,
 153,
 158,
 160,
 161,
 163,
 165,
 168,
 170,
 172,
 173,
 180,
 185,
 186,
 193,
 196,
 198,
 203,
 204,
 207,
 208,
 215,
 216,
 223,
 224,
 225,
 227,
 230,
 231,
 235,
 236,
 237,
 246,
 247,
 252,
 253,
 256,
 260,
 261,
 262,
 265,
 266,
 272,
 273,
 276,
 277,
 282,
 288,
 292,
 293,
 296,
 300,
 303,
 307,
 315,
 316,
 317,
 318,
 327,
 329,
 333,
 337,
 339,
 342,
 344,
 345,
 348,
 349,
 350,
 353,
 355,
 356,
 357,
 362,
 364,
 367,
 368,
 370,
 371,
 372,
 374,
 376,
 377,
 379,
 380,
 383,
 410,
 413,
 420,
 431,
 432,
 434,
 435,
 440,
 441,
 442,
 454,
 455,
 457,
 466,
 468,
 471,
 474,
 475,
 480,
 485,
 494,
 497,
 500,
 508,
 509,
 515,
 519,
 520,
 524,
 527,
 529,
 531,
 539,
 541,
 543,
 546,
 551,
 552,
 553,
 555,
 562,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 608,
 610,
 616,
 628,
 637,
 647,
 648,
 653,
 661,
 671,
 673,
 707,
 708,
 719,
 720,
 724,
 733,
 736,
 741,
 743,
 745,
 748,
 750,
 762,
 778,
 780,
 783,
 784,
 785,
 786,
 788,
 799,
 802,
 805,
 830,
 832,
 837,
 838,
 849,
 852,
 858,
 866,
 880,
 898,
 899,
 902,
 903,
 904,
 908,
 909,
 910,
 912,
 913,
 914,
 915,
 916,
 919,
 920,
 922,
 923,
 924,
 926,
 933,
 953,
 968,
 969,
 1020,
 1021,
 1022,
 1025,
 1027,
 1028,
 1029,
 1031,
 1032,
 1035,
 1036,
 1037,
 1042,
 1047,
 1049,
 1059,
 1060,
 1061,
 1073,
 1077,
 1079,
 1080,
 1084,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1097,
 1101,
 1120,
 1125,
 1127,
 1129,
 1136,
 1148,
 1172,
 1175,
 1179,
 1183,
 1186,
 1188,
 1193,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1203,
 1204,
 1206,
 1207,
 1208,
 1210,
 1212,
 1213,
 1214,
 1215,
 1219,
 1220,
 1221,
 1222,
 1223,
 1225,
 1228,
 1230,
 1231,
 1233,
 1234,
 1235,
 1240,
 1242,
 1244,
 1246,
 1247,
 1249,
 1250,
 1252,
 1253,
 1256,
 1257,
 1258,
 1259,
 1261,
 1262,
 1263,
 1265,
 1266,
 1267,
 1269,
 1270,
 1271,
 1272,
 1274,
 1275,
 1276,
 1278,
 1282,
 1285,
 1287,
 1288,
 1291,
 1293,
 1298,
 1299,
 1302,
 1304,
 1307,
 1320,
 1321,
 1333,
 1339,
 1343,
 1345,
 1347,
 1350,
 1356,
 1357,
 1358,
 1367,
 1370,
 1371,
 1372,
 1373,
 1374,
 1375,
 1376,
 1377,
 1378,
 1380,
 1385,
 1387,
 1391,
 1393,
 1394,
 1396,
 1405,
 1407,
 1408,
 1409,
 1438,
 1449,
 1466,
 1476,
 1479,
 1485,
 1499,
 1500,
 1513,
 1517,
 1527,
 1544,
 1552,
 1562,
 1566,
 1569,
 1573,
 1580,
 1584,
 1586,
 1587,
 1590,
 1591,
 1597,
 1608,
 1610,
 1614,
 1617,
 1625,
 1639,
 1641,
 1644,
 1645,
 1653,
 1663,
 1673,
 1674,
 1676,
 1680,
 1682,
 1690,
 1704,
 1711,
 1717,
 1721,
 1722,
 1729,
 1732,
 1747,
 1748,
 1777,
 1779,
 1784,
 1792,
 1801,
 1805,
 1831,
 1876,
 1882,
 1883,
 1884,
 1907,
 1909,
 1911,
 1912,
 1917,
 1918,
 1921,
 1923,
 1945,
 1947,
 1952,
 1953,
 1954,
 1958,
 1960,
 1961,
 1962,
 1965,
 1967,
 1968,
 1982,
 1994,
 1997,
 2000,
 2001,
 2002,
 2003,
 2005,
 2006,
 2010,
 2011,
 2012,
 2013,
 2018,
 2019,
 2020,
 2021,
 2023,
 2028,
 2046,
 2052,
 2054,
 2058,
 2064,
 2067,
 2076,
 2078,
 2080,
 2081,
 2082,
 2085,
 2087,
 2094,
 2096,
 2100,
 2105,
 2108,
 2109,
 2115,
 2124,
 2125,
 2134,
 2137,
 2139,
 2140,
 2144,
 2145,
 2150,
 2160,
 2161,
 2167,
 2174,
 2186,
 2193,
 2194,
 2231,
 2232,
 2243,
 2245,
 2248,
 2268,
 2273,
 2278,
 2288,
 2289,
 2291,
 2294,
 2300,
 2302,
 2321,
 2324,
 2329,
 2335,
 2336,
 2352,
 2353,
 2355,
 2359,
 2366,
 2369,
 2371,
 2375,
 2376,
 2378,
 2384,
 2391,
 2393,
 2394,
 2395,
 2396,
 2403,
 2405,
 2406,
 2407,
 2409,
 2410,
 2411,
 2420,
 2421,
 2423,
 2424,
 2427,
 2428,
 2431,
 2455,
 2470,
 2471,
 2478,
 2485,
 2490,
 2496,
 2501,
 2502,
 2528,
 2529,
 2539,
 2541,
 2542,
 2571,
 2572,
 2580,
 2581,
 2598,
 2599,
 2600,
 2605,
 2616,
 2617,
 2628,
 2640,
 2641,
 2642,
 2657,
 2671,
 2683,
 2687,
 2692,
 2694,
 2699,
 2700,
 2701,
 2706,
 2707,
 2710,
 2712,
 2716,
 2717,
 2720,
 2722,
 2723,
 2724,
 2746,
 2761,
 2762,
 2763,
 2770,
 2788,
 2791,
 2795,
 2797,
 2804,
 2805,
 2826,
 2840,
 2858,
 2871,
 2872,
 2890,
 2908,
 2915,
 2916,
 2918,
 2944,
 2947,
 2948,
 2949,
 2951,
 2953,
 2959,
 2968,
 2985,
 2986,
 2987,
 2989,
 2991,
 2993,
 2997,
 3000,
 3005,
 3006,
 3033,
 3034,
 3037,
 3039,
 3052,
 3070,
 3072,
 3081,
 3082,
 3087,
 3098,
 3100,
 3101,
 3104,
 3105,
 3107,
 3108,
 3114,
 3147,
 3148,
 3160,
 3168,
 3174,
 3175,
 3176,
 3186,
 3210,
 3247,
 3252,
 3253,
 3254,
 3255,
 3256,
 3257,
 3263,
 3264,
 3269,
 3273,
 3275,
 3285,
 3298,
 3300,
 3301,
 3317,
 3354,
 3360,
 3361,
 3362,
 3363,
 3386,
 3396,
 3408,
 3409,
 3418,
 3421,
 3424,
 3438,
 3448,
 3450,
 3462,
 3471,
 3476,
 3481,
 3489,
 3499,
 3504,
 3510,
 3527,
 3534,
 3535,
 3536,
 3552,
 3555,
 3556,
 3578,
 3608,
 3617,
 3623,
 3624,
 3638,
 3671,
 3681,
 3697,
 3698,
 3702,
 3703,
 3704,
 3717,
 3740,
 3745,
 3751,
 3752,
 3753,
 3755,
 3785,
 3793,
 3798,
 3809,
 3825,
 3826,
 3827,
 3863,
 3868,
 3869,
 3882,
 3897,
 3911,
 3916,
 3948,
 3949,
 3967,
 3968,
 3969,
 3977,
 3979,
 3984,
 3988,
 3994,
 3996,
 4002,
 4011,
 4014,
 4015,
 4016,
 4018,
 4019,
 4022,
 4023,
 4025,
 4027,
 4034,
 4069,
 4085,
 4105,
 4128,
 4148,
 4161,
 4223,
 4226,
 4232,
 4235,
 4239,
 4246,
 4247,
 4262,
 4270,
 4299,
 4306,
 4308,
 4310,
 4321,
 4343,
 4344,
 4361,
 4367,
 4369,
 4370,
 4388,
 4446,
 4447,
 4489,
 4571,
 4638,
 4641,
 4643,
 4700,
 4701,
 4718,
 4720,
 4734,
 4776,
 4816,
 4823,
 4848,
 4874,
 4878,
 4886,
 4890,
 4896,
 4901,
 4963,
 4973,
 4975,
 4979,
 4993,
 4995,
 5010,
 5013,
 5060,
 5064,
 5103,
 5110,
 5171,
 5218,
 5219,
 5225,
 5254,
 5266,
 5283,
 5299,
 5313,
 5349,
 5377,
 5378,
 5388,
 5418,
 5444,
 5445,
 5449,
 5459,
 5464,
 5481,
 5502,
 5507,
 5574,
 5617,
 5618,
 5620,
 5630,
 5669,
 5673,
 5679,
 5810,
 5816,
 5872,
 5902,
 5903,
 5945,
 5952,
 5954,
 5956,
 5971,
 5989,
 5991,
 5995,
 6016,
 6155,
 6157,
 6188,
 6218,
 6281,
 6287,
 6323,
 6333,
 6350,
 6365,
 6373,
 6377,
 6378,
 6502,
 6503,
 6534,
 6537,
 6539,
 6541,
 6593,
 6708,
 6711,
 6754,
 6773,
 6787,
 6807,
 6863,
 6870,
 6874,
 6934,
 6936,
 6942,
 6947,
 6953,
 6957,
 6979,
 7022,
 7090,
 7099,
 7143,
 7147,
 7153,
 7173,
 7254,
 7293,
 7323,
 7325,
 7361,
 7373,
 7438,
 7444,
 7445,
 7451,
 7454,
 7458,
 8360,
 8361,
 8368,
 8371,
 8376,
 8464,
 8528,
 8529,
 8533,
 8622,
 8636,
 8641,
 8644,
 8665,
 8783,
 8784,
 8798,
 8807,
 8873,
 8874,
 8910,
 8917,
 8949,
 8950,
 8957,
 8961,
 8970,
 8972,
 8983,
 8984,
 26958,
 27706,
 27773,
 27904,
 30707,
 30749,
 30793,
 30810,
 30812,
 30825,
 31658,
 31685,
 31696,
 32587,
 33004,
 ...]

Rating.

In [39]:
rates = df.groupby(["movieId"])["rating"].mean().values.tolist()

In [40]:
rates

[3.9209302325581397,
 3.4318181818181817,
 3.2596153846153846,
 3.0714285714285716,
 3.946078431372549,
 3.185185185185185,
 3.496212121212121,
 3.6714285714285713,
 3.926829268292683,
 3.7761194029850746,
 2.727272727272727,
 3.49438202247191,
 3.2222222222222223,
 3.125,
 3.625,
 4.0131578947368425,
 3.1842105263157894,
 3.983050847457627,
 3.65234375,
 3.8358208955223883,
 3.293269230769231,
 2.5434782608695654,
 3.3125,
 3.9753694581280787,
 3.1470588235294117,
 4.237745098039215,
 3.4642857142857144,
 4.027027027027027,
 3.235294117647059,
 3.70625,
 2.532258064516129,
 3.5090909090909093,
 3.0238095238095237,
 3.782608695652174,
 3.4393939393939394,
 3.282608695652174,
 3.326923076923077,
 4.031645569620253,
 4.105769230769231,
 3.5434782608695654,
 2.9516129032258065,
 3.494186046511628,
 3.2450980392156863,
 3.845771144278607,
 3.5454545454545454,
 2.9160583941605838,
 2.806451612903226,
 2.8771929824561404,
 3.6359223300970873,
 3.5606060606060606,
 3.5555555555555554,
 3.0833333333333335,
 3.2285714285714286,
 2.6792452830188678,
 2.6693548387096775,
 3.4027777777777777,
 3.0401785714285716,
 2.8229166666666665,
 2.4714285714285715,
 2.6666666666666665,
 3.25,
 3.4318181818181817,
 2.716666666666667,
 3.4285714285714284,
 2.9130434782608696,
 4.041666666666667,
 3.326530612244898,
 3.855769230769231,
 3.6125,
 3.5384615384615383,
 2.8636363636363638,
 3.3958333333333335,
 3.0601503759398496,
 3.6785714285714284,
 3.477777777777778,
 3.340909090909091,
 4.293103448275862,
 3.9285714285714284,
 3.453488372093023,
 3.458715596330275,
 2.8285714285714287,
 4.231075697211155,
 3.880952380952381,
 3.9047619047619047,
 3.9393939393939394,
 3.3970588235294117,
 3.7580645161290325,
 2.9464285714285716,
 3.25,
 3.223684210526316,
 3.3375,
 3.233695652173913,
 3.4257425742574257,
 4.018796992481203,
 4.197068403908795,
 3.5185185185185186,
 2.953125,
 3.8958333333333335,
 3.0789473684210527,
 3.375,
 3.2037037037037037,
 4.429022082018927,
 2.823529411764706,
 3.3935185185185186,
 3.78,
 3.7662337662337664,
 3.4693877551020407,
 3.272727272727273,
 3.040372670807453,
 3.5972222222222223,
 3.5833333333333335,
 3.6045454545454545,
 3.3859649122807016,
 3.609375,
 2.357142857142857,
 4.164133738601824,
 3.5194174757281553,
 3.5294117647058822,
 3.941860465116279,
 3.1847133757961785,
 3.5,
 3.060344827586207,
 3.3095238095238093,
 2.761904761904762,
 2.2,
 3.25,
 3.5292397660818713,
 2.5,
 3.497191011235955,
 3.0952380952380953,
 3.1011904761904763,
 2.7884615384615383,
 2.7203389830508473,
 3.738095238095238,
 2.6454545454545455,
 3.0346534653465347,
 2.4206349206349205,
 3.5460526315789473,
 3.9285714285714284,
 3.0925925925925926,
 3.5346534653465347,
 2.391891891891892,
 3.9921052631578946,
 2.8666666666666667,
 3.2045454545454546,
 3.55,
 3.692857142857143,
 4.3,
 3.75,
 2.9339622641509435,
 3.3780487804878048,
 3.813953488372093,
 3.388888888888889,
 3.6136363636363638,
 3.540983606557377,
 3.6041666666666665,
 2.4047619047619047,
 3.130434782608696,
 3.485294117647059,
 4.225,
 3.875,
 3.25,
 3.4716981132075473,
 4.100806451612903,
 3.317073170731707,
 2.0,
 3.553763440860215,
 3.262295081967213,
 3.8153846153846156,
 3.8,
 3.5434782608695654,
 2.736111111111111,
 2.9956896551724137,
 3.4347826086956523,
 3.7923497267759565,
 3.970982142857143,
 3.8353658536585367,
 3.4285714285714284,
 4.161290322580645,
 3.616883116883117,
 3.7705479452054793,
 3.45,
 3.4851851851851854,
 4.116022099447513,
 3.5454545454545454,
 3.411111111111111,
 3.642857142857143,
 3.0454545454545454,
 3.3275862068965516,
 3.537037037037037,
 3.0923076923076924,
 3.4489795918367347,
 3.486111111111111,
 2.707547169811321,
 2.880952380952381,
 3.3879310344827585,
 2.842857142857143,
 4.092592592592593,
 3.032258064516129,
 3.6404958677685952,
 3.321138211382114,
 4.148148148148148,
 2.5172413793103448,
 3.8958333333333335,
 3.1136363636363638,
 4.268041237113402,
 2.4146341463414633,
 4.03921568627451,
 3.4455445544554455,
 3.3297872340425534,
 2.8055555555555554,
 3.369047619047619,
 3.109375,
 2.731707317073171,
 3.4565217391304346,
 3.3369565217391304,
 3.657142857142857,
 3.0714285714285716,
 3.3378378378378377,
 3.272727272727273,
 3.9166666666666665,
 2.9204545454545454,
 3.1744186046511627,
 4.2890625,
 4.0,
 2.740740740740741,
 4.310344827586207,
 4.074468085106383,
 3.8472222222222223,
 4.025,
 4.261904761904762,
 4.184210526315789,
 3.962962962962963,
 4.01,
 4.24,
 4.170454545454546,
 4.042857142857143,
 3.7666666666666666,
 4.0576923076923075,
 3.880434782608696,
 3.6444444444444444,
 4.333333333333333,
 4.043478260869565,
 3.8944954128440368,
 4.229166666666667,
 4.217391304347826,
 4.0344827586206895,
 3.75,
 3.9705882352941178,
 3.081081081081081,
 2.3333333333333335,
 3.488095238095238,
 3.58,
 3.017857142857143,
 3.887323943661972,
 3.3857142857142857,
 3.4791666666666665,
 3.375,
 3.9375,
 3.8620689655172415,
 2.7708333333333335,
 3.2738095238095237,
 3.3181818181818183,
 3.4761904761904763,
 3.7222222222222223,
 3.6944444444444446,
 3.6724137931034484,
 3.8739495798319328,
 3.75,
 3.9225352112676055,
 3.9269662921348316,
 4.071428571428571,
 4.1,
 3.369047619047619,
 4.202290076335878,
 3.984126984126984,
 2.5476190476190474,
 3.1914893617021276,
 3.4054054054054053,
 3.4404761904761907,
 3.7663934426229506,
 3.3012048192771086,
 3.537037037037037,
 3.6875,
 3.475806451612903,
 3.448717948717949,
 4.161764705882353,
 4.035714285714286,
 4.161764705882353,
 3.8333333333333335,
 3.6296296296296298,
 3.7111111111111112,
 3.5869565217391304,
 3.659090909090909,
 4.203007518796992,
 4.2156398104265405,
 4.232394366197183,
 4.2075,
 4.177966101694915,
 3.9642857142857144,
 4.145833333333333,
 4.149122807017544,
 4.3,
 3.995833333333333,
 4.120689655172414,
 4.219626168224299,
 4.137755102040816,
 4.229166666666667,
 4.25,
 3.969178082191781,
 4.03921568627451,
 4.036144578313253,
 3.8095238095238093,
 4.25968992248062,
 4.098039215686274,
 4.089285714285714,
 4.184210526315789,
 4.1875,
 3.8706896551724137,
 3.8636363636363638,
 4.2125,
 3.9765625,
 4.288461538461538,
 3.8969465648854964,
 4.170731707317073,
 4.106060606060606,
 3.9593023255813953,
 4.063291139240507,
 4.071428571428571,
 4.122222222222222,
 4.211864406779661,
 3.82,
 3.8043478260869565,
 3.685185185185185,
 4.08256880733945,
 4.0054945054945055,
 4.044117647058823,
 4.127906976744186,
 3.8255813953488373,
 3.944055944055944,
 4.111111111111111,
 4.25,
 3.8793103448275863,
 4.038011695906433,
 3.5,
 4.121212121212121,
 3.7435897435897436,
 3.7291666666666665,
 4.271929824561403,
 3.9927536231884058,
 3.7830188679245285,
 3.731707317073171,
 3.9411764705882355,
 4.015151515151516,
 4.046428571428572,
 3.8333333333333335,
 3.760869565217391,
 4.017857142857143,
 3.517857142857143,
 3.943548387096774,
 3.8588235294117648,
 3.148936170212766,
 3.4130434782608696,
 3.602272727272727,
 3.4655172413793105,
 3.78,
 3.3472222222222223,
 3.0,
 3.8181818181818183,
 3.879120879120879,
 4.0,
 3.8404255319148937,
 3.074468085106383,
 3.4044117647058822,
 3.0444444444444443,
 3.3452380952380953,
 2.6666666666666665,
 3.7661290322580645,
 3.261904761904762,
 3.4767441860465116,
 3.025,
 3.1,
 3.139705882352941,
 2.8541666666666665,
 4.0054945054945055,
 3.0930232558139537,
 3.5941176470588236,
 3.9913793103448274,
 3.4782608695652173,
 2.935483870967742,
 3.2,
 3.8333333333333335,
 2.5,
 2.625,
 3.875,
 3.7403846153846154,
 3.5384615384615383,
 3.216666666666667,
 3.0337837837837838,
 1.9259259259259258,
 3.610169491525424,
 2.9655172413793105,
 3.535,
 3.7456896551724137,
 2.753731343283582,
 3.0338983050847457,
 2.2142857142857144,
 3.4516129032258065,
 3.5,
 3.3701298701298703,
 3.487878787878788,
 3.652439024390244,
 2.7954545454545454,
 3.2580645161290325,
 2.94,
 2.6346153846153846,
 2.941860465116279,
 3.3448275862068964,
 3.8722222222222222,
 2.7884615384615383,
 4.061855670103093,
 3.7012987012987013,
 3.576923076923077,
 3.7589285714285716,
 2.109375,
 3.411764705882353,
 3.953488372093023,
 3.7941176470588234,
 4.076923076923077,
 3.65,
 3.33125,
 3.6,
 3.812,
 2.922222222222222,
 4.078014184397163,
 3.1041666666666665,
 2.9193548387096775,
 3.414285714285714,
 3.066666666666667,
 3.6979166666666665,
 3.9245283018867925,
 3.338709677419355,
 3.8229166666666665,
 3.419642857142857,
 2.760869565217391,
 3.6979166666666665,
 3.0217391304347827,
 3.5,
 3.0161290322580645,
 2.4482758620689653,
 3.0697674418604652,
 1.9545454545454546,
 3.2708333333333335,
 3.967391304347826,
 3.566666666666667,
 3.4404761904761907,
 2.609375,
 3.859375,
 3.0543478260869565,
 2.8484848484848486,
 3.851063829787234,
 3.676190476190476,
 4.1875,
 3.6029411764705883,
 3.9545454545454546,
 3.871794871794872,
 3.828125,
 3.7954545454545454,
 3.6923076923076925,
 3.8072916666666665,
 3.739130434782609,
 3.380952380952381,
 3.8214285714285716,
 3.7787610619469025,
 3.7222222222222223,
 3.425531914893617,
 3.80188679245283,
 3.6733333333333333,
 3.1808510638297873,
 2.9347826086956523,
 3.3780487804878048,
 3.5701754385964914,
 3.1,
 3.857142857142857,
 3.5057471264367814,
 3.3693181818181817,
 3.0952380952380953,
 3.3684210526315788,
 4.1875,
 4.0,
 3.4324324324324325,
 3.3555555555555556,
 4.1462765957446805,
 3.2083333333333335,
 2.760869565217391,
 2.7573529411764706,
 3.35,
 3.838709677419355,
 4.142857142857143,
 3.9456521739130435,
 3.830188679245283,
 3.4,
 3.425373134328358,
 2.6538461538461537,
 3.4318181818181817,
 3.573170731707317,
 3.2564102564102564,
 3.409090909090909,
 3.1176470588235294,
 3.34,
 3.4791666666666665,
 3.3703703703703702,
 3.638888888888889,
 3.289473684210526,
 3.619047619047619,
 3.1136363636363638,
 3.5476190476190474,
 3.4761904761904763,
 3.5441176470588234,
 3.6020408163265305,
 3.242424242424242,
 3.892857142857143,
 4.171875,
 3.5813953488372094,
 3.3620689655172415,
 3.4725274725274726,
 3.98,
 3.3375,
 3.9384615384615387,
 3.861111111111111,
 3.425925925925926,
 3.4285714285714284,
 3.2045454545454546,
 3.923076923076923,
 3.789473684210526,
 3.261904761904762,
 3.5232558139534884,
 3.933333333333333,
 3.9473684210526314,
 3.7,
 3.2444444444444445,
 3.9696969696969697,
 3.26271186440678,
 3.4836065573770494,
 4.1477272727272725,
 4.217054263565892,
 3.1785714285714284,
 3.6739130434782608,
 3.84,
 3.4925373134328357,
 3.516304347826087,
 3.673076923076923,
 3.64,
 2.6666666666666665,
 3.0833333333333335,
 2.9285714285714284,
 3.2142857142857144,
 3.022727272727273,
 2.7758620689655173,
 3.7954545454545454,
 3.1515151515151514,
 3.5,
 3.544642857142857,
 3.777173913043478,
 3.55,
 2.8095238095238093,
 3.4537037037037037,
 3.2674418604651163,
 3.1923076923076925,
 2.7291666666666665,
 2.706896551724138,
 3.5657894736842106,
 2.7758620689655173,
 3.566666666666667,
 3.12,
 3.3,
 2.4782608695652173,
 3.3703703703703702,
 3.383720930232558,
 3.175438596491228,
 2.4791666666666665,
 3.1346153846153846,
 2.8448275862068964,
 3.422222222222222,
 3.108695652173913,
 3.75,
 4.090425531914893,
 3.2291666666666665,
 3.8035714285714284,
 3.095744680851064,
 3.225,
 4.052238805970149,
 4.192446043165468,
 3.5277777777777777,
 3.9615384615384617,
 2.9583333333333335,
 2.84,
 3.6607142857142856,
 3.8636363636363638,
 2.988372093023256,
 2.8846153846153846,
 3.1206896551724137,
 3.107142857142857,
 3.6065573770491803,
 3.020408163265306,
 2.25,
 3.3412698412698414,
 3.455357142857143,
 3.1983471074380163,
 3.4583333333333335,
 4.0,
 3.1979166666666665,
 2.811320754716981,
 3.861842105263158,
 2.207547169811321,
 3.378640776699029,
 3.272727272727273,
 2.796875,
 3.4622641509433962,
 3.775,
 3.0,
 2.0952380952380953,
 2.7758620689655173,
 3.08974358974359,
 2.8333333333333335,
 3.3333333333333335,
 4.051282051282051,
 3.893854748603352,
 3.6458333333333335,
 2.960526315789474,
 4.053571428571429,
 3.8563218390804597,
 3.6538461538461537,
 3.71978021978022,
 3.9727272727272727,
 3.0,
 2.9038461538461537,
 2.869565217391304,
 4.056372549019608,
 3.9,
 3.64,
 3.7111111111111112,
 3.551282051282051,
 3.4404761904761907,
 3.653409090909091,
 3.8394495412844036,
 3.96875,
 3.839622641509434,
 3.75,
 3.712121212121212,
 3.9358974358974357,
 2.5161290322580645,
 4.272935779816514,
 3.731707317073171,
 3.3714285714285714,
 2.64,
 3.5721649484536084,
 3.5476190476190474,
 3.6956521739130435,
 3.4791666666666665,
 3.9545454545454546,
 3.9583333333333335,
 2.84,
 3.7419354838709675,
 3.483050847457627,
 3.513888888888889,
 4.145833333333333,
 3.730769230769231,
 3.6455696202531644,
 3.5476190476190474,
 3.5555555555555554,
 3.475806451612903,
 3.3333333333333335,
 3.1666666666666665,
 3.6458333333333335,
 3.9318181818181817,
 3.0972222222222223,
 3.6363636363636362,
 3.6818181818181817,
 3.3043478260869565,
 3.8055555555555554,
 3.8608247422680413,
 4.148648648648648,
 3.75,
 3.7115384615384617,
 3.603448275862069,
 3.4871794871794872,
 3.58,
 3.336734693877551,
 3.4642857142857144,
 3.4761904761904763,
 3.0277777777777777,
 3.5925925925925926,
 3.4754098360655736,
 3.2962962962962963,
 3.466666666666667,
 3.5161290322580645,
 2.859375,
 3.0454545454545454,
 2.423076923076923,
 2.8518518518518516,
 2.6724137931034484,
 4.22093023255814,
 3.0625,
 3.7142857142857144,
 3.5641025641025643,
 3.5238095238095237,
 3.659090909090909,
 2.6904761904761907,
 3.7045454545454546,
 3.6714285714285713,
 3.9342105263157894,
 3.8488372093023258,
 3.5,
 3.590909090909091,
 3.5285714285714285,
 2.9285714285714284,
 3.4634146341463414,
 3.693548387096774,
 4.037037037037037,
 3.0,
 3.802325581395349,
 3.293103448275862,
 3.72,
 3.7416666666666667,
 3.5576923076923075,
 3.6666666666666665,
 3.358490566037736,
 3.840909090909091,
 4.0227272727272725,
 3.4166666666666665,
 3.581967213114754,
 3.3,
 3.788135593220339,
 3.4523809523809526,
 3.826923076923077,
 3.4242424242424243,
 3.769230769230769,
 3.9382352941176473,
 2.94,
 3.0853658536585367,
 2.7142857142857144,
 3.1511627906976742,
 3.1346153846153846,
 3.935483870967742,
 4.151515151515151,
 2.9047619047619047,
 3.2205882352941178,
 3.486842105263158,
 4.0375,
 3.2708333333333335,
 3.221311475409836,
 3.857142857142857,
 3.413793103448276,
 3.551282051282051,
 3.0869565217391304,
 3.448529411764706,
 3.1704545454545454,
 2.92,
 3.699248120300752,
 3.2,
 3.2714285714285714,
 2.7413793103448274,
 2.2948717948717947,
 2.891304347826087,
 3.0444444444444443,
 3.4047619047619047,
 3.423076923076923,
 2.6911764705882355,
 3.8674698795180724,
 3.688679245283019,
 3.7439024390243905,
 3.4175824175824174,
 3.921875,
 3.8513513513513513,
 3.074074074074074,
 3.4423076923076925,
 2.7222222222222223,
 2.5,
 3.5,
 3.0454545454545454,
 3.4794520547945207,
 3.8363636363636364,
 3.8518518518518516,
 4.155913978494624,
 3.521276595744681,
 2.727272727272727,
 3.7162162162162162,
 3.138888888888889,
 3.7142857142857144,
 3.7,
 3.130434782608696,
 3.0546875,
 3.8085106382978724,
 3.9,
 2.909090909090909,
 3.402173913043478,
 3.8181818181818183,
 3.7115384615384617,
 2.9358974358974357,
 3.347826086956522,
 3.5125,
 4.122641509433962,
 2.9464285714285716,
 3.9347826086956523,
 3.8137254901960786,
 3.623076923076923,
 2.380952380952381,
 3.9328358208955225,
 3.088888888888889,
 3.341463414634146,
 3.8676470588235294,
 3.590909090909091,
 2.9651162790697674,
 3.370967741935484,
 3.037037037037037,
 3.1029411764705883,
 3.421875,
 2.9,
 3.066666666666667,
 3.3392857142857144,
 2.6538461538461537,
 3.3548387096774195,
 3.15625,
 3.4583333333333335,
 3.7,
 2.8472222222222223,
 3.5,
 2.7448979591836733,
 3.037037037037037,
 3.370967741935484,
 3.066666666666667,
 3.6272727272727274,
 3.161764705882353,
 3.7941176470588234,
 3.509259259259259,
 3.14,
 3.843137254901961,
 3.484848484848485,
 3.981651376146789,
 3.871212121212121,
 3.032258064516129,
 3.7616822429906542,
 3.4814814814814814,
 3.8445378151260505,
 4.183333333333334,
 3.4204545454545454,
 3.6838235294117645,
 4.106060606060606,
 4.0,
 3.81,
 3.7037037037037037,
 3.9347826086956523,
 3.828125,
 3.4375,
 3.6041666666666665,
 2.8636363636363638,
 3.6882352941176473,
 3.0833333333333335,
 3.9523809523809526,
 3.2058823529411766,
 3.0,
 2.909090909090909,
 3.2666666666666666,
 2.2954545454545454,
 3.540983606557377,
 3.715909090909091,
 3.157608695652174,
 3.303030303030303,
 3.8169642857142856,
 3.810344827586207,
 3.6375,
 2.909090909090909,
 2.959016393442623,
 3.520408163265306,
 2.8461538461538463,
 3.1666666666666665,
 2.7708333333333335,
 3.519230769230769,
 3.9,
 4.155172413793103,
 3.0535714285714284,
 3.435483870967742,
 3.7758620689655173,
 3.621212121212121,
 3.202127659574468,
 3.292682926829268,
 3.5980392156862746,
 2.925925925925926,
 3.9456521739130435,
 3.875,
 3.173076923076923,
 4.0212765957446805,
 3.840909090909091,
 3.518181818181818,
 3.9594594594594597,
 3.9217391304347826,
 3.7244897959183674,
 4.108695652173913,
 4.1466666666666665,
 3.2758620689655173,
 2.5,
 3.5128205128205128,
 3.3,
 3.140625,
 3.0588235294117645,
 3.6818181818181817,
 3.723684210526316,
 4.0625,
 3.3541666666666665,
 3.316901408450704,
 3.9609929078014185,
 3.6186440677966103,
 3.9741379310344827,
 2.3703703703703702,
 2.5606060606060606,
 3.0444444444444443,
 3.778523489932886,
 2.625,
 3.2083333333333335,
 3.7205882352941178,
 4.033783783783784,
 3.5,
 3.7045454545454546,
 4.018518518518518,
 3.95,
 3.4015151515151514,
 3.7115384615384617,
 3.9618320610687023,
 3.151898734177215,
 3.6923076923076925,
 3.788135593220339,
 3.638888888888889,
 3.3,
 3.3653846153846154,
 3.3095238095238093,
 3.933333333333333,
 3.9210526315789473,
 4.0,
 3.903225806451613,
 3.8333333333333335,
 4.118918918918919,
 3.0416666666666665,
 3.630434782608696,
 3.5531914893617023,
 3.8043478260869565,
 3.2857142857142856,
 4.1603053435114505,
 3.3780487804878048,
 3.868181818181818,
 3.1904761904761907,
 3.6285714285714286,
 3.7564102564102564,
 2.7083333333333335,
 3.4270833333333335,
 3.5760869565217392,
 3.05,
 3.913978494623656,
 3.3043478260869565,
 3.324324324324324,
 3.51,
 3.551282051282051,
 3.3191489361702127,
 3.5657894736842106,
 3.4864864864864864,
 3.8037974683544302,
 3.7719298245614037,
 3.4918032786885247,
 3.7866666666666666,
 3.1923076923076925,
 3.7083333333333335,
 3.7613636363636362,
 3.4558823529411766,
 3.7962962962962963,
 4.0064935064935066,
 3.4523809523809526,
 3.46875,
 3.7435897435897436,
 3.986842105263158,
 3.1818181818181817,
 3.836,
 3.609375,
 3.263157894736842,
 3.52,
 3.2906976744186047,
 3.5,
 3.16,
 4.089743589743589,
 3.6136363636363638,
 3.8461538461538463,
 3.7916666666666665,
 3.0,
 3.4864864864864864,
 3.5285714285714285,
 3.106060606060606,
 4.075,
 3.1666666666666665,
 3.4714285714285715,
 3.857142857142857,
 3.4204545454545454,
 ...]

# Calculate again the average rating for each movie in the dataset

In [41]:
df.groupby(["title"])["rating"].mean().sort_values(ascending = False)

title
Shawshank Redemption, The (1994)                 4.429022
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)    4.333333
Philadelphia Story, The (1940)                   4.310345
Lawrence of Arabia (1962)                        4.300000
In the Name of the Father (1993)                 4.300000
                                                   ...
I Know What You Did Last Summer (1997)           2.109375
Inspector Gadget (1999)                          2.095238
Super Mario Bros. (1993)                         2.000000
Godzilla (1998)                                  1.954545
Anaconda (1997)                                  1.925926
Name: rating, Length: 1235, dtype: float64

# Calculate the number of ratings per user

In [42]:
df.groupby(["userId"])["rating"].count().sort_values(ascending = False)

userId
414    1070
599     926
68      853
474     724
274     700
       ...
320       9
324       9
397       9
578       8
175       4
Name: rating, Length: 610, dtype: int64

# Calculate the number of ratings per film

In [43]:
df.groupby(["title"])["rating"].count().sort_values(ascending = False)

title
Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Matrix, The (1999)                  278
                                   ...
Keeping the Faith (2000)             21
Joe Dirt (2001)                      21
Jewel of the Nile, The (1985)        21
Other Guys, The (2010)               21
Heavenly Creatures (1994)            21
Name: rating, Length: 1235, dtype: int64

# Ratings dictionary

In [52]:
def dictionary(Ids, rating):

    """
    
    Creates a dictionary of the films and their ratings 
    and returns it.
    
    Parameters:
    ----------
    Ids: List of movieIds.
    rating: List of ratings.
    
    """
    
    keys = []
    values = []
    for movie in Ids:
        keys.append(movie)
    for n in rating:
        values.append(n)

    dic = {keys[i]: values[i] for i in range(len(keys))}
 
    return dic

In [53]:
ratings = dictionary(movieIds, rates)

In [55]:
#ratings

Alternatively run the following code.

In [56]:
#ratings = df.groupby(["movieId"])["rating"].mean().to_dict()
#ratings

Convert dictionary to a dataframe.

In [57]:
df_ratings = pd.DataFrame(list(ratings.items()), columns = ["movieId", "rating"])

In [59]:
df_ratings.head()

   movieId    rating
0        1  3.920930
1        2  3.431818
2        3  3.259615
3        5  3.071429
4        6  3.946078

In [61]:
df_ratings.shape

(1237, 2)

In [60]:
df_ratings.columns

Index(['movieId', 'rating'], dtype='object')

# Baseline recommender

In [62]:
user_query = { 246 : 1, 318 : 3, 50 : 4.5}

In [63]:
#ratings

In [65]:
def recommend_popular(query, ratings, k = 10):
    
    """
    
    This function recommends popular movies depeding on their rating.
    
    Parameters:
    -----------
    query: A dictionary referring to ratings of seen movies from one user,
    with movieIds as keys and ratings as values.
    
    ratings: A dataframe with movieIds and their ratings.
    
    k: the number of movies to be recommended.
    """
    user = pd.DataFrame(list(query.items()), columns = ["movieId", "rating"])
    user.set_index("movieId", inplace = True)
    
    ratings = ratings.sort_values(by = "rating", ascending = False)
    ratings_index = ratings.set_index("movieId")
    
    for i in user.index:
        ratings_index.drop(index = [i], inplace = True)
        
    ratings_index.reset_index(inplace = True)
    
    return ratings_index.head(k)

In [66]:
rec = recommend_popular(user_query, df_ratings, 10)

In [67]:
rec

   movieId    rating
0      922  4.333333
1      898  4.310345
2      475  4.300000
3     1204  4.300000
4      858  4.289062
5     1235  4.288462
6   168252  4.280000
7     2959  4.272936
8     1276  4.271930
9      750  4.268041

In [ ]:
#df

In [ ]:
#df["userId"].max()

In [ ]:
#user

In [ ]:
#user["userId"] = 611

In [ ]:
#seen_movies = user[["movieId"]]
#seen_movies.set_index("movieId", inplace = True)
#seen_movies

In [ ]:
#all_movies = df_ratings[["movieId"]]
#all_movies.set_index("movieId", inplace = True)
#all_movies

In [ ]:
#for i in seen_movies.index:
    #all_movies = all_movies.drop(index = [i])
    #df_test = df_ratings.loc[seen_movies[i]]