# Unsupervised learning-movie recommender

## Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.decomposition import NMF

# Project goal

In this project, you will build a proof of concept: A web application that showcases different movie recommendation algorithms.

1. Download a small version of the MovieLens-dataset


2. Implement a baseline recommender


**3. Derive a user-item matrix**


4. Pick and implement a Collaborative Filtering recommender:

    **a) Collaborative Filtering with Matrix Factorization**
    
    b) Neighbourhood based Collaborative Filtering
    
    
5. Write a flask web interface


6. Connect your recommender-model to flask

# Import data

Import all 4 csv files of the *ml-latest-small.zip* dataset.

In [3]:
ratings = pd.read_csv("ratings.csv")

In [4]:
movies = pd.read_csv("movies.csv")

In [5]:
tags = pd.read_csv("tags.csv")

In [6]:
links = pd.read_csv("links.csv")

Inspect the tables.

In [7]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratings.shape

(100836, 4)

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
movies.shape

(9742, 3)

In [11]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [12]:
tags.shape

(3683, 4)

In [13]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [14]:
links.shape

(9742, 3)

# Merge tables

Merge ratings and movies.

In [15]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [16]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [17]:
movies["movieId"].nunique()

9742

In [18]:
df = pd.merge(movies, ratings, on = "movieId", how = "right")

In [19]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247
2,6,Heat (1995),Action|Crime|Thriller,1,4.0,964982224
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,5.0,964983815
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,5.0,964982931

In [20]:
df.shape

(100836, 6)

Drop genres and timestamp columns.

In [21]:
df = df.drop(columns = ["genres", "timestamp"])

In [22]:
df

        movieId                           title  userId  rating
0             1                Toy Story (1995)       1     4.0
1             3         Grumpier Old Men (1995)       1     4.0
2             6                     Heat (1995)       1     4.0
3            47     Seven (a.k.a. Se7en) (1995)       1     5.0
4            50      Usual Suspects, The (1995)       1     5.0
...         ...                             ...     ...     ...
100831   166534                    Split (2017)     610     4.0
100832   168248   John Wick: Chapter Two (2017)     610     5.0
100833   168250                  Get Out (2017)     610     5.0
100834   168252                    Logan (2017)     610     5.0
100835   170875  The Fate of the Furious (2017)     610     3.0

[100836 rows x 4 columns]

In [23]:
df.isna().sum()

movieId    0
title      0
userId     0
rating     0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  100836 non-null  int64
 1   title    100836 non-null  object
 2   userId   100836 non-null  int64
 3   rating   100836 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.8+ MB

# Filter out movies that have been watched by less than 20 users

In [25]:
df["reviews"] = df.groupby(["title"])["rating"].transform("count")

In [26]:
df.head()

   movieId                        title  userId  rating  reviews
0        1             Toy Story (1995)       1     4.0      215
1        3      Grumpier Old Men (1995)       1     4.0       52
2        6                  Heat (1995)       1     4.0      102
3       47  Seven (a.k.a. Se7en) (1995)       1     5.0      203
4       50   Usual Suspects, The (1995)       1     5.0      204

In [27]:
df.shape

(100836, 5)

In [28]:
df = df[df["reviews"] > 20][["userId", "title", "movieId", "rating"]]

In [29]:
df.head()

   userId                        title  movieId  rating
0       1             Toy Story (1995)        1     4.0
1       1      Grumpier Old Men (1995)        3     4.0
2       1                  Heat (1995)        6     4.0
3       1  Seven (a.k.a. Se7en) (1995)       47     5.0
4       1   Usual Suspects, The (1995)       50     5.0

In [30]:
df.shape

(66661, 4)

# Extract film, movieId, rating lists

In [31]:
df = df.sort_values(by = ["movieId"], ascending = True)

In [32]:
df.head()

       userId             title  movieId  rating
0           1  Toy Story (1995)        1     4.0
61023     396  Toy Story (1995)        1     5.0
22638     155  Toy Story (1995)        1     3.0
22684     156  Toy Story (1995)        1     4.0
60405     391  Toy Story (1995)        1     3.0

In [33]:
df.shape

(66661, 4)

Films.

In [34]:
films = df["title"].unique().tolist()

In [35]:
len(films)

1235

MovieIds.

In [36]:
movieIds = df["movieId"].unique().tolist()

In [37]:
len(movieIds)

1237

Rating.

In [38]:
rates = df.groupby(["movieId"])["rating"].mean().values.tolist()

In [39]:
rates

[3.9209302325581397,
 3.4318181818181817,
 3.2596153846153846,
 3.0714285714285716,
 3.946078431372549,
 3.185185185185185,
 3.496212121212121,
 3.6714285714285713,
 3.926829268292683,
 3.7761194029850746,
 2.727272727272727,
 3.49438202247191,
 3.2222222222222223,
 3.125,
 3.625,
 4.0131578947368425,
 3.1842105263157894,
 3.983050847457627,
 3.65234375,
 3.8358208955223883,
 3.293269230769231,
 2.5434782608695654,
 3.3125,
 3.9753694581280787,
 3.1470588235294117,
 4.237745098039215,
 3.4642857142857144,
 4.027027027027027,
 3.235294117647059,
 3.70625,
 2.532258064516129,
 3.5090909090909093,
 3.0238095238095237,
 3.782608695652174,
 3.4393939393939394,
 3.282608695652174,
 3.326923076923077,
 4.031645569620253,
 4.105769230769231,
 3.5434782608695654,
 2.9516129032258065,
 3.494186046511628,
 3.2450980392156863,
 3.845771144278607,
 3.5454545454545454,
 2.9160583941605838,
 2.806451612903226,
 2.8771929824561404,
 3.6359223300970873,
 3.5606060606060606,
 3.5555555555555554,
 3.0833333333333335,
 3.2285714285714286,
 2.6792452830188678,
 2.6693548387096775,
 3.4027777777777777,
 3.0401785714285716,
 2.8229166666666665,
 2.4714285714285715,
 2.6666666666666665,
 3.25,
 3.4318181818181817,
 2.716666666666667,
 3.4285714285714284,
 2.9130434782608696,
 4.041666666666667,
 3.326530612244898,
 3.855769230769231,
 3.6125,
 3.5384615384615383,
 2.8636363636363638,
 3.3958333333333335,
 3.0601503759398496,
 3.6785714285714284,
 3.477777777777778,
 3.340909090909091,
 4.293103448275862,
 3.9285714285714284,
 3.453488372093023,
 3.458715596330275,
 2.8285714285714287,
 4.231075697211155,
 3.880952380952381,
 3.9047619047619047,
 3.9393939393939394,
 3.3970588235294117,
 3.7580645161290325,
 2.9464285714285716,
 3.25,
 3.223684210526316,
 3.3375,
 3.233695652173913,
 3.4257425742574257,
 4.018796992481203,
 4.197068403908795,
 3.5185185185185186,
 2.953125,
 3.8958333333333335,
 3.0789473684210527,
 3.375,
 3.2037037037037037,
 4.429022082018927,
 2.823529411764706,
 3.3935185185185186,
 3.78,
 3.7662337662337664,
 3.4693877551020407,
 3.272727272727273,
 3.040372670807453,
 3.5972222222222223,
 3.5833333333333335,
 3.6045454545454545,
 3.3859649122807016,
 3.609375,
 2.357142857142857,
 4.164133738601824,
 3.5194174757281553,
 3.5294117647058822,
 3.941860465116279,
 3.1847133757961785,
 3.5,
 3.060344827586207,
 3.3095238095238093,
 2.761904761904762,
 2.2,
 3.25,
 3.5292397660818713,
 2.5,
 3.497191011235955,
 3.0952380952380953,
 3.1011904761904763,
 2.7884615384615383,
 2.7203389830508473,
 3.738095238095238,
 2.6454545454545455,
 3.0346534653465347,
 2.4206349206349205,
 3.5460526315789473,
 3.9285714285714284,
 3.0925925925925926,
 3.5346534653465347,
 2.391891891891892,
 3.9921052631578946,
 2.8666666666666667,
 3.2045454545454546,
 3.55,
 3.692857142857143,
 4.3,
 3.75,
 2.9339622641509435,
 3.3780487804878048,
 3.813953488372093,
 3.388888888888889,
 3.6136363636363638,
 3.540983606557377,
 3.6041666666666665,
 2.4047619047619047,
 3.130434782608696,
 3.485294117647059,
 4.225,
 3.875,
 3.25,
 3.4716981132075473,
 4.100806451612903,
 3.317073170731707,
 2.0,
 3.553763440860215,
 3.262295081967213,
 3.8153846153846156,
 3.8,
 3.5434782608695654,
 2.736111111111111,
 2.9956896551724137,
 3.4347826086956523,
 3.7923497267759565,
 3.970982142857143,
 3.8353658536585367,
 3.4285714285714284,
 4.161290322580645,
 3.616883116883117,
 3.7705479452054793,
 3.45,
 3.4851851851851854,
 4.116022099447513,
 3.5454545454545454,
 3.411111111111111,
 3.642857142857143,
 3.0454545454545454,
 3.3275862068965516,
 3.537037037037037,
 3.0923076923076924,
 3.4489795918367347,
 3.486111111111111,
 2.707547169811321,
 2.880952380952381,
 3.3879310344827585,
 2.842857142857143,
 4.092592592592593,
 3.032258064516129,
 3.6404958677685952,
 3.321138211382114,
 4.148148148148148,
 2.5172413793103448,
 3.8958333333333335,
 3.1136363636363638,
 4.268041237113402,
 2.4146341463414633,
 4.03921568627451,
 3.4455445544554455,
 3.3297872340425534,
 2.8055555555555554,
 3.369047619047619,
 3.109375,
 2.731707317073171,
 3.4565217391304346,
 3.3369565217391304,
 3.657142857142857,
 3.0714285714285716,
 3.3378378378378377,
 3.272727272727273,
 3.9166666666666665,
 2.9204545454545454,
 3.1744186046511627,
 4.2890625,
 4.0,
 2.740740740740741,
 4.310344827586207,
 4.074468085106383,
 3.8472222222222223,
 4.025,
 4.261904761904762,
 4.184210526315789,
 3.962962962962963,
 4.01,
 4.24,
 4.170454545454546,
 4.042857142857143,
 3.7666666666666666,
 4.0576923076923075,
 3.880434782608696,
 3.6444444444444444,
 4.333333333333333,
 4.043478260869565,
 3.8944954128440368,
 4.229166666666667,
 4.217391304347826,
 4.0344827586206895,
 3.75,
 3.9705882352941178,
 3.081081081081081,
 2.3333333333333335,
 3.488095238095238,
 3.58,
 3.017857142857143,
 3.887323943661972,
 3.3857142857142857,
 3.4791666666666665,
 3.375,
 3.9375,
 3.8620689655172415,
 2.7708333333333335,
 3.2738095238095237,
 3.3181818181818183,
 3.4761904761904763,
 3.7222222222222223,
 3.6944444444444446,
 3.6724137931034484,
 3.8739495798319328,
 3.75,
 3.9225352112676055,
 3.9269662921348316,
 4.071428571428571,
 4.1,
 3.369047619047619,
 4.202290076335878,
 3.984126984126984,
 2.5476190476190474,
 3.1914893617021276,
 3.4054054054054053,
 3.4404761904761907,
 3.7663934426229506,
 3.3012048192771086,
 3.537037037037037,
 3.6875,
 3.475806451612903,
 3.448717948717949,
 4.161764705882353,
 4.035714285714286,
 4.161764705882353,
 3.8333333333333335,
 3.6296296296296298,
 3.7111111111111112,
 3.5869565217391304,
 3.659090909090909,
 4.203007518796992,
 4.2156398104265405,
 4.232394366197183,
 4.2075,
 4.177966101694915,
 3.9642857142857144,
 4.145833333333333,
 4.149122807017544,
 4.3,
 3.995833333333333,
 4.120689655172414,
 4.219626168224299,
 4.137755102040816,
 4.229166666666667,
 4.25,
 3.969178082191781,
 4.03921568627451,
 4.036144578313253,
 3.8095238095238093,
 4.25968992248062,
 4.098039215686274,
 4.089285714285714,
 4.184210526315789,
 4.1875,
 3.8706896551724137,
 3.8636363636363638,
 4.2125,
 3.9765625,
 4.288461538461538,
 3.8969465648854964,
 4.170731707317073,
 4.106060606060606,
 3.9593023255813953,
 4.063291139240507,
 4.071428571428571,
 4.122222222222222,
 4.211864406779661,
 3.82,
 3.8043478260869565,
 3.685185185185185,
 4.08256880733945,
 4.0054945054945055,
 4.044117647058823,
 4.127906976744186,
 3.8255813953488373,
 3.944055944055944,
 4.111111111111111,
 4.25,
 3.8793103448275863,
 4.038011695906433,
 3.5,
 4.121212121212121,
 3.7435897435897436,
 3.7291666666666665,
 4.271929824561403,
 3.9927536231884058,
 3.7830188679245285,
 3.731707317073171,
 3.9411764705882355,
 4.015151515151516,
 4.046428571428572,
 3.8333333333333335,
 3.760869565217391,
 4.017857142857143,
 3.517857142857143,
 3.943548387096774,
 3.8588235294117648,
 3.148936170212766,
 3.4130434782608696,
 3.602272727272727,
 3.4655172413793105,
 3.78,
 3.3472222222222223,
 3.0,
 3.8181818181818183,
 3.879120879120879,
 4.0,
 3.8404255319148937,
 3.074468085106383,
 3.4044117647058822,
 3.0444444444444443,
 3.3452380952380953,
 2.6666666666666665,
 3.7661290322580645,
 3.261904761904762,
 3.4767441860465116,
 3.025,
 3.1,
 3.139705882352941,
 2.8541666666666665,
 4.0054945054945055,
 3.0930232558139537,
 3.5941176470588236,
 3.9913793103448274,
 3.4782608695652173,
 2.935483870967742,
 3.2,
 3.8333333333333335,
 2.5,
 2.625,
 3.875,
 3.7403846153846154,
 3.5384615384615383,
 3.216666666666667,
 3.0337837837837838,
 1.9259259259259258,
 3.610169491525424,
 2.9655172413793105,
 3.535,
 3.7456896551724137,
 2.753731343283582,
 3.0338983050847457,
 2.2142857142857144,
 3.4516129032258065,
 3.5,
 3.3701298701298703,
 3.487878787878788,
 3.652439024390244,
 2.7954545454545454,
 3.2580645161290325,
 2.94,
 2.6346153846153846,
 2.941860465116279,
 3.3448275862068964,
 3.8722222222222222,
 2.7884615384615383,
 4.061855670103093,
 3.7012987012987013,
 3.576923076923077,
 3.7589285714285716,
 2.109375,
 3.411764705882353,
 3.953488372093023,
 3.7941176470588234,
 4.076923076923077,
 3.65,
 3.33125,
 3.6,
 3.812,
 2.922222222222222,
 4.078014184397163,
 3.1041666666666665,
 2.9193548387096775,
 3.414285714285714,
 3.066666666666667,
 3.6979166666666665,
 3.9245283018867925,
 3.338709677419355,
 3.8229166666666665,
 3.419642857142857,
 2.760869565217391,
 3.6979166666666665,
 3.0217391304347827,
 3.5,
 3.0161290322580645,
 2.4482758620689653,
 3.0697674418604652,
 1.9545454545454546,
 3.2708333333333335,
 3.967391304347826,
 3.566666666666667,
 3.4404761904761907,
 2.609375,
 3.859375,
 3.0543478260869565,
 2.8484848484848486,
 3.851063829787234,
 3.676190476190476,
 4.1875,
 3.6029411764705883,
 3.9545454545454546,
 3.871794871794872,
 3.828125,
 3.7954545454545454,
 3.6923076923076925,
 3.8072916666666665,
 3.739130434782609,
 3.380952380952381,
 3.8214285714285716,
 3.7787610619469025,
 3.7222222222222223,
 3.425531914893617,
 3.80188679245283,
 3.6733333333333333,
 3.1808510638297873,
 2.9347826086956523,
 3.3780487804878048,
 3.5701754385964914,
 3.1,
 3.857142857142857,
 3.5057471264367814,
 3.3693181818181817,
 3.0952380952380953,
 3.3684210526315788,
 4.1875,
 4.0,
 3.4324324324324325,
 3.3555555555555556,
 4.1462765957446805,
 3.2083333333333335,
 2.760869565217391,
 2.7573529411764706,
 3.35,
 3.838709677419355,
 4.142857142857143,
 3.9456521739130435,
 3.830188679245283,
 3.4,
 3.425373134328358,
 2.6538461538461537,
 3.4318181818181817,
 3.573170731707317,
 3.2564102564102564,
 3.409090909090909,
 3.1176470588235294,
 3.34,
 3.4791666666666665,
 3.3703703703703702,
 3.638888888888889,
 3.289473684210526,
 3.619047619047619,
 3.1136363636363638,
 3.5476190476190474,
 3.4761904761904763,
 3.5441176470588234,
 3.6020408163265305,
 3.242424242424242,
 3.892857142857143,
 4.171875,
 3.5813953488372094,
 3.3620689655172415,
 3.4725274725274726,
 3.98,
 3.3375,
 3.9384615384615387,
 3.861111111111111,
 3.425925925925926,
 3.4285714285714284,
 3.2045454545454546,
 3.923076923076923,
 3.789473684210526,
 3.261904761904762,
 3.5232558139534884,
 3.933333333333333,
 3.9473684210526314,
 3.7,
 3.2444444444444445,
 3.9696969696969697,
 3.26271186440678,
 3.4836065573770494,
 4.1477272727272725,
 4.217054263565892,
 3.1785714285714284,
 3.6739130434782608,
 3.84,
 3.4925373134328357,
 3.516304347826087,
 3.673076923076923,
 3.64,
 2.6666666666666665,
 3.0833333333333335,
 2.9285714285714284,
 3.2142857142857144,
 3.022727272727273,
 2.7758620689655173,
 3.7954545454545454,
 3.1515151515151514,
 3.5,
 3.544642857142857,
 3.777173913043478,
 3.55,
 2.8095238095238093,
 3.4537037037037037,
 3.2674418604651163,
 3.1923076923076925,
 2.7291666666666665,
 2.706896551724138,
 3.5657894736842106,
 2.7758620689655173,
 3.566666666666667,
 3.12,
 3.3,
 2.4782608695652173,
 3.3703703703703702,
 3.383720930232558,
 3.175438596491228,
 2.4791666666666665,
 3.1346153846153846,
 2.8448275862068964,
 3.422222222222222,
 3.108695652173913,
 3.75,
 4.090425531914893,
 3.2291666666666665,
 3.8035714285714284,
 3.095744680851064,
 3.225,
 4.052238805970149,
 4.192446043165468,
 3.5277777777777777,
 3.9615384615384617,
 2.9583333333333335,
 2.84,
 3.6607142857142856,
 3.8636363636363638,
 2.988372093023256,
 2.8846153846153846,
 3.1206896551724137,
 3.107142857142857,
 3.6065573770491803,
 3.020408163265306,
 2.25,
 3.3412698412698414,
 3.455357142857143,
 3.1983471074380163,
 3.4583333333333335,
 4.0,
 3.1979166666666665,
 2.811320754716981,
 3.861842105263158,
 2.207547169811321,
 3.378640776699029,
 3.272727272727273,
 2.796875,
 3.4622641509433962,
 3.775,
 3.0,
 2.0952380952380953,
 2.7758620689655173,
 3.08974358974359,
 2.8333333333333335,
 3.3333333333333335,
 4.051282051282051,
 3.893854748603352,
 3.6458333333333335,
 2.960526315789474,
 4.053571428571429,
 3.8563218390804597,
 3.6538461538461537,
 3.71978021978022,
 3.9727272727272727,
 3.0,
 2.9038461538461537,
 2.869565217391304,
 4.056372549019608,
 3.9,
 3.64,
 3.7111111111111112,
 3.551282051282051,
 3.4404761904761907,
 3.653409090909091,
 3.8394495412844036,
 3.96875,
 3.839622641509434,
 3.75,
 3.712121212121212,
 3.9358974358974357,
 2.5161290322580645,
 4.272935779816514,
 3.731707317073171,
 3.3714285714285714,
 2.64,
 3.5721649484536084,
 3.5476190476190474,
 3.6956521739130435,
 3.4791666666666665,
 3.9545454545454546,
 3.9583333333333335,
 2.84,
 3.7419354838709675,
 3.483050847457627,
 3.513888888888889,
 4.145833333333333,
 3.730769230769231,
 3.6455696202531644,
 3.5476190476190474,
 3.5555555555555554,
 3.475806451612903,
 3.3333333333333335,
 3.1666666666666665,
 3.6458333333333335,
 3.9318181818181817,
 3.0972222222222223,
 3.6363636363636362,
 3.6818181818181817,
 3.3043478260869565,
 3.8055555555555554,
 3.8608247422680413,
 4.148648648648648,
 3.75,
 3.7115384615384617,
 3.603448275862069,
 3.4871794871794872,
 3.58,
 3.336734693877551,
 3.4642857142857144,
 3.4761904761904763,
 3.0277777777777777,
 3.5925925925925926,
 3.4754098360655736,
 3.2962962962962963,
 3.466666666666667,
 3.5161290322580645,
 2.859375,
 3.0454545454545454,
 2.423076923076923,
 2.8518518518518516,
 2.6724137931034484,
 4.22093023255814,
 3.0625,
 3.7142857142857144,
 3.5641025641025643,
 3.5238095238095237,
 3.659090909090909,
 2.6904761904761907,
 3.7045454545454546,
 3.6714285714285713,
 3.9342105263157894,
 3.8488372093023258,
 3.5,
 3.590909090909091,
 3.5285714285714285,
 2.9285714285714284,
 3.4634146341463414,
 3.693548387096774,
 4.037037037037037,
 3.0,
 3.802325581395349,
 3.293103448275862,
 3.72,
 3.7416666666666667,
 3.5576923076923075,
 3.6666666666666665,
 3.358490566037736,
 3.840909090909091,
 4.0227272727272725,
 3.4166666666666665,
 3.581967213114754,
 3.3,
 3.788135593220339,
 3.4523809523809526,
 3.826923076923077,
 3.4242424242424243,
 3.769230769230769,
 3.9382352941176473,
 2.94,
 3.0853658536585367,
 2.7142857142857144,
 3.1511627906976742,
 3.1346153846153846,
 3.935483870967742,
 4.151515151515151,
 2.9047619047619047,
 3.2205882352941178,
 3.486842105263158,
 4.0375,
 3.2708333333333335,
 3.221311475409836,
 3.857142857142857,
 3.413793103448276,
 3.551282051282051,
 3.0869565217391304,
 3.448529411764706,
 3.1704545454545454,
 2.92,
 3.699248120300752,
 3.2,
 3.2714285714285714,
 2.7413793103448274,
 2.2948717948717947,
 2.891304347826087,
 3.0444444444444443,
 3.4047619047619047,
 3.423076923076923,
 2.6911764705882355,
 3.8674698795180724,
 3.688679245283019,
 3.7439024390243905,
 3.4175824175824174,
 3.921875,
 3.8513513513513513,
 3.074074074074074,
 3.4423076923076925,
 2.7222222222222223,
 2.5,
 3.5,
 3.0454545454545454,
 3.4794520547945207,
 3.8363636363636364,
 3.8518518518518516,
 4.155913978494624,
 3.521276595744681,
 2.727272727272727,
 3.7162162162162162,
 3.138888888888889,
 3.7142857142857144,
 3.7,
 3.130434782608696,
 3.0546875,
 3.8085106382978724,
 3.9,
 2.909090909090909,
 3.402173913043478,
 3.8181818181818183,
 3.7115384615384617,
 2.9358974358974357,
 3.347826086956522,
 3.5125,
 4.122641509433962,
 2.9464285714285716,
 3.9347826086956523,
 3.8137254901960786,
 3.623076923076923,
 2.380952380952381,
 3.9328358208955225,
 3.088888888888889,
 3.341463414634146,
 3.8676470588235294,
 3.590909090909091,
 2.9651162790697674,
 3.370967741935484,
 3.037037037037037,
 3.1029411764705883,
 3.421875,
 2.9,
 3.066666666666667,
 3.3392857142857144,
 2.6538461538461537,
 3.3548387096774195,
 3.15625,
 3.4583333333333335,
 3.7,
 2.8472222222222223,
 3.5,
 2.7448979591836733,
 3.037037037037037,
 3.370967741935484,
 3.066666666666667,
 3.6272727272727274,
 3.161764705882353,
 3.7941176470588234,
 3.509259259259259,
 3.14,
 3.843137254901961,
 3.484848484848485,
 3.981651376146789,
 3.871212121212121,
 3.032258064516129,
 3.7616822429906542,
 3.4814814814814814,
 3.8445378151260505,
 4.183333333333334,
 3.4204545454545454,
 3.6838235294117645,
 4.106060606060606,
 4.0,
 3.81,
 3.7037037037037037,
 3.9347826086956523,
 3.828125,
 3.4375,
 3.6041666666666665,
 2.8636363636363638,
 3.6882352941176473,
 3.0833333333333335,
 3.9523809523809526,
 3.2058823529411766,
 3.0,
 2.909090909090909,
 3.2666666666666666,
 2.2954545454545454,
 3.540983606557377,
 3.715909090909091,
 3.157608695652174,
 3.303030303030303,
 3.8169642857142856,
 3.810344827586207,
 3.6375,
 2.909090909090909,
 2.959016393442623,
 3.520408163265306,
 2.8461538461538463,
 3.1666666666666665,
 2.7708333333333335,
 3.519230769230769,
 3.9,
 4.155172413793103,
 3.0535714285714284,
 3.435483870967742,
 3.7758620689655173,
 3.621212121212121,
 3.202127659574468,
 3.292682926829268,
 3.5980392156862746,
 2.925925925925926,
 3.9456521739130435,
 3.875,
 3.173076923076923,
 4.0212765957446805,
 3.840909090909091,
 3.518181818181818,
 3.9594594594594597,
 3.9217391304347826,
 3.7244897959183674,
 4.108695652173913,
 4.1466666666666665,
 3.2758620689655173,
 2.5,
 3.5128205128205128,
 3.3,
 3.140625,
 3.0588235294117645,
 3.6818181818181817,
 3.723684210526316,
 4.0625,
 3.3541666666666665,
 3.316901408450704,
 3.9609929078014185,
 3.6186440677966103,
 3.9741379310344827,
 2.3703703703703702,
 2.5606060606060606,
 3.0444444444444443,
 3.778523489932886,
 2.625,
 3.2083333333333335,
 3.7205882352941178,
 4.033783783783784,
 3.5,
 3.7045454545454546,
 4.018518518518518,
 3.95,
 3.4015151515151514,
 3.7115384615384617,
 3.9618320610687023,
 3.151898734177215,
 3.6923076923076925,
 3.788135593220339,
 3.638888888888889,
 3.3,
 3.3653846153846154,
 3.3095238095238093,
 3.933333333333333,
 3.9210526315789473,
 4.0,
 3.903225806451613,
 3.8333333333333335,
 4.118918918918919,
 3.0416666666666665,
 3.630434782608696,
 3.5531914893617023,
 3.8043478260869565,
 3.2857142857142856,
 4.1603053435114505,
 3.3780487804878048,
 3.868181818181818,
 3.1904761904761907,
 3.6285714285714286,
 3.7564102564102564,
 2.7083333333333335,
 3.4270833333333335,
 3.5760869565217392,
 3.05,
 3.913978494623656,
 3.3043478260869565,
 3.324324324324324,
 3.51,
 3.551282051282051,
 3.3191489361702127,
 3.5657894736842106,
 3.4864864864864864,
 3.8037974683544302,
 3.7719298245614037,
 3.4918032786885247,
 3.7866666666666666,
 3.1923076923076925,
 3.7083333333333335,
 3.7613636363636362,
 3.4558823529411766,
 3.7962962962962963,
 4.0064935064935066,
 3.4523809523809526,
 3.46875,
 3.7435897435897436,
 3.986842105263158,
 3.1818181818181817,
 3.836,
 3.609375,
 3.263157894736842,
 3.52,
 3.2906976744186047,
 3.5,
 3.16,
 4.089743589743589,
 3.6136363636363638,
 3.8461538461538463,
 3.7916666666666665,
 3.0,
 3.4864864864864864,
 3.5285714285714285,
 3.106060606060606,
 4.075,
 3.1666666666666665,
 3.4714285714285715,
 3.857142857142857,
 3.4204545454545454,
 ...]

# Baseline recommender

In [ ]:
user_query = { 246 : 1, 318 : 3, 50 : 4.5}

In [ ]:
#ratings

In [ ]:
def recommend_popular(query, ratings, k = 10):
    
    """
    
    This function recommends popular movies depeding on their rating.
    
    Parameters:
    -----------
    query: A dictionary referring to ratings of seen movies from one user,
    with movieIds as keys and ratings as values.
    
    ratings: A dataframe with movieIds and their ratings.
    
    k: the number of movies to be recommended.
    """
    user = pd.DataFrame(list(query.items()), columns = ["movieId", "rating"])
    user.set_index("movieId", inplace = True)
    
    ratings = ratings.sort_values(by = "rating", ascending = False)
    ratings_index = ratings.set_index("movieId")
    
    for i in user.index:
        ratings_index.drop(index = [i], inplace = True)
        
    ratings_index.reset_index(inplace = True)
    
    return ratings_index.head(k)

In [ ]:
rec = recommend_popular(user_query, df_ratings, 10)

In [ ]:
rec

In [ ]:
#df

In [ ]:
#df["userId"].max()

In [ ]:
#user

In [ ]:
#user["userId"] = 611

In [ ]:
#seen_movies = user[["movieId"]]
#seen_movies.set_index("movieId", inplace = True)
#seen_movies

In [ ]:
#all_movies = df_ratings[["movieId"]]
#all_movies.set_index("movieId", inplace = True)
#all_movies

In [ ]:
#for i in seen_movies.index:
    #all_movies = all_movies.drop(index = [i])
    #df_test = df_ratings.loc[seen_movies[i]]

# Convert matrix into long format

In [40]:
df_pivot = pd.pivot_table(df, index = "userId", columns = "title", values = "rating" )

In [41]:
df_pivot

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.5,3.5,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,3.5,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.5,3.0,...,NaN,NaN,3.5,5.0,3.5,4.0,4.0,NaN,2.0,NaN

# Impute the missing values

In [42]:
pivot_mean = df_pivot.mean().mean()

In [43]:
pivot_mean

3.5257595098823975

In [44]:
df_pivot = df_pivot.fillna(pivot_mean)

In [45]:
df_pivot.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,4.00000,3.52576,3.52576,3.52576,...,5.00000,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,4.00000
2,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,...,3.52576,3.52576,3.52576,3.52576,3.00000,3.52576,3.52576,3.52576,3.52576,3.52576
3,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,0.50000,...,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576
4,3.52576,3.52576,3.52576,3.52576,5.00000,3.52576,3.52576,3.52576,3.52576,3.52576,...,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576
5,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,...,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576

In [46]:
df_pivot.shape

(610, 1235)

# NMF

In [47]:
R = df_pivot.values

In [48]:
len(R)

610

Check the number of unique movie genres to decide on number of components for the NMF.

In [49]:
movies["genres"].nunique()

951

In [50]:
m = NMF(n_components = 450, init = "random", random_state = 10, max_iter = 200)

In [51]:
m.fit(R)

/home/nteni/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

NMF(init='random', n_components=450, random_state=10)

In [52]:
Q = m.components_

In [53]:
Q

array([[0.06765953, 0.06549482, 0.04908046, ..., 0.06751632, 0.05110116,
        0.0493535 ],
       [0.00728761, 0.03015367, 0.08589145, ..., 0.06137035, 0.08359071,
        0.0970958 ],
       [0.08634354, 0.01409969, 0.03342461, ..., 0.05197613, 0.00583946,
        0.01350755],
       ...,
       [0.15503988, 0.12051672, 0.1689965 , ..., 0.03741936, 0.09125799,
        0.11590434],
       [0.22422378, 0.17803348, 0.05416064, ..., 0.13072465, 0.23993208,
        0.16108184],
       [0.        , 0.17503296, 0.15501817, ..., 0.31447721, 0.        ,
        0.6260968 ]])

In [54]:
P = m.transform(R)

/home/nteni/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

In [55]:
P

array([[1.86348975e+00, 8.99395681e-01, 1.20157561e+00, ...,
        9.87619816e-02, 4.90451164e-02, 8.11899895e-03],
       [0.00000000e+00, 4.69710152e-01, 5.94201278e-01, ...,
        3.39036224e-02, 9.25522283e-02, 3.95581995e-03],
       [1.71214523e-01, 4.64903738e-01, 1.92225819e+00, ...,
        1.97154419e-02, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 5.67353318e-01],
       [0.00000000e+00, 1.96244357e-01, 6.13962287e-01, ...,
        1.94519889e-02, 1.41302493e-01, 8.18764386e-03],
       [4.35907577e+00, 3.46550686e+00, 2.27821331e+00, ...,
        2.40179699e-01, 4.25403912e-02, 2.79852472e-03]])

In [56]:
print(m.reconstruction_err_)

40.58906537243212

In [ ]:
#nR = np.dot(P, Q)

In [ ]:
#nR

In [ ]:
#nR.shape

# Predict recommendations for a new user.

## Assign some ratings to a user.

In [133]:
user_query = { "Matrix, The (1999)" : 1, "Shawshank Redemption, The (1994)" : 3, "Jewel of the Nile, The (1985)" : 4.5}

In [134]:
user = pd.DataFrame(list(user_query.items()), columns = ["title", "rating"])

In [135]:
user.set_index("title", inplace = True)

In [136]:
user

                                  rating
title
Matrix, The (1999)                   1.0
Shawshank Redemption, The (1994)     3.0
Jewel of the Nile, The (1985)        4.5

## Create a film dataframe for all the films in the pivot table.

In [137]:
df_pivot.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,4.00000,3.52576,3.52576,3.52576,...,5.00000,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,4.00000
2,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,...,3.52576,3.52576,3.52576,3.52576,3.00000,3.52576,3.52576,3.52576,3.52576,3.52576
3,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,0.50000,...,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576
4,3.52576,3.52576,3.52576,3.52576,5.00000,3.52576,3.52576,3.52576,3.52576,3.52576,...,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576
5,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,...,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576,3.52576

In [138]:
mv = df_pivot.columns

In [139]:
mv

Index(['(500) Days of Summer (2009)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1996)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       '12 Angry Men (1957)', '13 Going on 30 (2004)',
       '13th Warrior, The (1999)', '1408 (2007)',
       '2001: A Space Odyssey (1968)', '2012 (2009)',
       ...
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Zack and Miri Make a Porno (2008)', 'Zodiac (2007)',
       'Zombieland (2009)', 'Zoolander (2001)', 'Zootopia (2016)',
       'eXistenZ (1999)', 'xXx (2002)', '¡Three Amigos! (1986)'],
      dtype='object', name='title', length=1235)

In [140]:
mv = pd.DataFrame(mv)

In [141]:
mv

                                                  title
0                           (500) Days of Summer (2009)
1                     10 Things I Hate About You (1999)
2                                 101 Dalmatians (1996)
3     101 Dalmatians (One Hundred and One Dalmatians...
4                                   12 Angry Men (1957)
...                                                 ...
1230                                   Zoolander (2001)
1231                                    Zootopia (2016)
1232                                    eXistenZ (1999)
1233                                         xXx (2002)
1234                              ¡Three Amigos! (1986)

[1235 rows x 1 columns]

## Merge user and movies dataframe.

In [144]:
user_merge = pd.merge(mv, user, on = "title", how = "left")

In [145]:
user_merge.shape

(1235, 2)

In [146]:
user_merge.head()

                                               title  rating
0                        (500) Days of Summer (2009)     NaN
1                  10 Things I Hate About You (1999)     NaN
2                              101 Dalmatians (1996)     NaN
3  101 Dalmatians (One Hundred and One Dalmatians...     NaN
4                                12 Angry Men (1957)     NaN

### Check if it worked and there are in the dataframe the ratings of the user.

In [147]:
query = user_merge["rating"]

In [148]:
query[:10]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: rating, dtype: float64

In [149]:
r_count = 0

for i in query:
    if not np.isnan(i):
        r_count += 1
        
r_count

3

In [166]:
user_merge[user_merge["title"] == "Matrix, The (1999)"]

                  title  rating
694  Matrix, The (1999)     1.0

## Predictions

In [152]:
query = query.fillna(0)

In [153]:
query = np.array(query)

In [154]:
len(query)

1235

In [155]:
user2 = np.array(query)

In [156]:
user2 = user2.reshape(1, -1)

In [157]:
user2.shape

(1, 1235)

In [158]:
user2 = m.transform(user2)

In [159]:
user2.shape

(1, 450)

In [160]:
Q.shape

(450, 1235)

In [185]:
rec = np.dot(user2, Q)

In [186]:
rec.shape

(1, 1235)

In [187]:
rec = pd.Series(rec[0], index = df_pivot.columns)

In [188]:
rec

title
(500) Days of Summer (2009)                               0.008402
10 Things I Hate About You (1999)                         0.092740
101 Dalmatians (1996)                                     0.047665
101 Dalmatians (One Hundred and One Dalmatians) (1961)    0.050254
12 Angry Men (1957)                                       0.033546
                                                            ...
Zoolander (2001)                                          0.036516
Zootopia (2016)                                           0.008998
eXistenZ (1999)                                           0.010378
xXx (2002)                                                0.046999
¡Three Amigos! (1986)                                     0.016191
Length: 1235, dtype: float64

## Exclude the films that the user has seen already.

In [189]:
rec = pd.DataFrame(rec)

In [190]:
rec

                                                           0
title
(500) Days of Summer (2009)                         0.008402
10 Things I Hate About You (1999)                   0.092740
101 Dalmatians (1996)                               0.047665
101 Dalmatians (One Hundred and One Dalmatians)...  0.050254
12 Angry Men (1957)                                 0.033546
...                                                      ...
Zoolander (2001)                                    0.036516
Zootopia (2016)                                     0.008998
eXistenZ (1999)                                     0.010378
xXx (2002)                                          0.046999
¡Three Amigos! (1986)                               0.016191

[1235 rows x 1 columns]

In [191]:
for i in user.index:
    rec.drop(index = [i], inplace = True)

In [192]:
rec

                                                           0
title
(500) Days of Summer (2009)                         0.008402
10 Things I Hate About You (1999)                   0.092740
101 Dalmatians (1996)                               0.047665
101 Dalmatians (One Hundred and One Dalmatians)...  0.050254
12 Angry Men (1957)                                 0.033546
...                                                      ...
Zoolander (2001)                                    0.036516
Zootopia (2016)                                     0.008998
eXistenZ (1999)                                     0.010378
xXx (2002)                                          0.046999
¡Three Amigos! (1986)                               0.016191

[1232 rows x 1 columns]

## Recommendation

In [193]:
rec.sort_values(by = 0, ascending = False).head(5)

                                               0
title
Monty Python and the Holy Grail (1975)  0.204482
Braveheart (1995)                       0.176821
Usual Suspects, The (1995)              0.118817
Beauty and the Beast (1991)             0.115785
Back to the Future (1985)               0.112562